<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>管理员</title>
    {include file="common/css"}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            {include file="common/left"}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>添加公司</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" role="form" action="" method="post">

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="companiesname">公司名称<span class="required">*</span>
                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="CompaniesName" name="CompanyName" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="MembersNumber">公司人数<span class="required">*</span>
                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="MembersNumber" name="MembersNumber" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Advantage" class="control-label col-md-3 col-sm-3 col-xs-12">擅长方向<span class="required">*</span>
                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="Advantage" class="form-control col-md-7 col-xs-12" type="text" name="Advantage">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="PhoneNumber" class="control-label col-md-3 col-sm-3 col-xs-12">联系电话<span class="required">*</span>
                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="PhoneNumber" class="form-control col-md-7 col-xs-12" type="text" name="PhoneNumber">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="SecurityPermissions" class="control-label col-md-3 col-sm-3 col-xs-12">安全等级<span class="required">*</span>
                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" name="SecurityPermissions" id="SecurityPermissions">
                             <option value="0">低</option>
                             <option value="1">中</option>
                             <option value="2">高</option>
                           </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="CreditRating" class="control-label col-md-3 col-sm-3 col-xs-12">信誉等级<span class="required">*</span>
                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" name="CreditRating" id="CreditRating">
                             <option value="0">低</option>
                             <option value="1">中</option>
                             <option value="2">高</option>
                          </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">对公银行卡号<span class="required">*</span>
                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="BankCardNumber" name="BankCardNumber" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="PrincipalName" class="control-label col-md-3 col-sm-3 col-xs-12">公司简介<span class="required">*</span>
                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <textarea id="PrincipalName" class="form-control col-md-7 col-xs-12" type="text" name="PrincipalName"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">证件签约完整度</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div id="gender" class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-default man" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="Document" value="1"> &nbsp; 完整 &nbsp;
                            </label>
                                                    <label class="btn btn-default man" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="Document" value="0"> 不完整
                            </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button class="btn btn-primary" type="button" onClick="{:url('admin/companies')}">取消</button>
                                                <button class="btn btn-primary" type="reset">清空</button>
                                                <button type="submit" class="btn btn-success">确认</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    {include file="common/js"}
    <script type="text/javascript">
        $(".man").click(function() {
            $(this).addClass("btn-primary");
            $(this).siblings(".man").removeClass("btn-primary");
        });
    </script>
    <!-- <script>
  $('#submit').click(function() {
                $.post('http://localhost/tp5/public/index.php/api/companies/add', {
                    name: $("input[ name='CompanyName'] ").val(),
                    document: $("input[ name='Document'] ").val(),
                    bankcardnumber: $("input[ name='BankCardNumber'] ").val(),
                    phonenumber: $("input[ name='PhoneNumber'] ").val(),
                    advantage: $("input[ name='Advantage'] ").val(),
                    membernumber: $("input[ name='MembersNumber'] ").val(),
                }).done(function(reponse) {
                    id = reponse;
                    if (id.status == 1) {
                       alert("添加成功！");
                    } else if (id.status == 0) {
                        alert("添加失败");
                    } else {
                        
                    }
                });
            });
          </script> -->

</body>

</html>