<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">性别</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div id="gender" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default man">
                    <input type="radio" name="Gender" value="男"> &nbsp; 男 &nbsp;
                </label>
                <label class="btn btn-default man">
                    <input type="radio" name="Gender" value="女"> 女
                </label>
            </div>
        </div>
</div>

<script type="text/javascript">
    $(".man").click(function(){
        $(this).addClass("btn-primary");
        $(this).siblings(".man").removeClass("btn-primary");
    });
</script>