<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="__STATIC__/image/u.jpg" alt="">{$username}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="{:url('user/setting/index')}">信息修改</a></li>
                        <li><a href="#" id="toplogout"><i class="fa fa-sign-out pull-right"></i> 登出</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown none" id="emaillist">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green" v-bind:class="{'bg-green':isgreen,'bg-red':isred}">{{counter}}</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li v-for='email in data'>
                            <a :href="email.link">
                                <span class="image"><img :src="email.img" alt="Profile Image" /></span>
                                <span>
                                    <span>{{email.poster}}</span>
                                <span class="time">{{email.time}}以前</span>
                                </span>
                                <span class="message">
                                        {{email.name}}
                                    </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <a href="{:url('user/emaillist/index')}">
                                    <strong>查看全部</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script type="text/javascript">
    window.onload = function() {
        if (window.screen.width < 768) {
            $(".none").css({
                "display": 'none'
            });
        }
    }
</script>