<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .high {
            color: #F54F4A
        }
        
        .mid {
            color: orange
        }
        
        .low {
            color: green
        }
    </style>
    <title>接包人员</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-8 col-xs-12 col-sm-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>{$project.name}</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="col-md-12 col-xs-12 col-sm-12">

                                        <div class="col-md-12 col-xs-12 col-sm-12">
                                            <h2>项目名称：
                                                <span style="color: #00ace6">{$project.name}</span>
                                            </h2>
                                            <h2>起始时间：
                                                <span style="color: #00ace6">{$project.starttime}</span>
                                            </h2>
                                            <h2>截止时间：
                                                <span style="color: #00ace6">{$project.endtime}</span>
                                            </h2>
                                            <h2>发包人员：
                                                <span style="color: #00ace6">{$project.contractor}</span>
                                            </h2>
                                            <h2>安全等级：
                                                <span class='{$project.color}'><strong>{$project.safetygrade}</strong></span>
                                            </h2>
                                            <br />
                                        </div>
                                        <!-- blockquote -->
                                        <blockquote>
                                            <h3>具体说明：</h3>
                                            <p>{$project.plan}
                                            </p>
                                        </blockquote>

                                    </div>

                                    <div class="clearfix"></div>


                                </div>
                                <div class="clearfix"></div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {switch name="project.state"} {case value = "待接收"}
                                        <button type="submit" class="btn btn-primary none" id='confirm' style="margin-bottom: 6px">确认获取项目</button> {/case} {/switch}
                                        <button type="submit" class="btn btn-success none" id='checkandwork' style="margin-bottom: 6px">签到并开始工作</button>
                                        <button type="submit" class="btn btn-danger none" id='stop' style="margin-bottom: 6px">停止工作</button>
                                        <a class="btn btn-primary none" href="/tp5/public/index.php/user/resultcontrol/index/id/{$id}" style="margin-bottom: 6px">进度提交</a>
                                        <a class="btn btn-primary none" href="/tp5/public/index.php/user/sendemail/sendtocontractor/id/{$id}" style="margin-bottom: 6px">联系管理员</a>
                                        <a class="btn btn-warning none" href="/tp5/public/index.php/user/sendemail/sendresource/id/{$id}" style="margin-bottom: 6px">请求资源</a>
                                        <a class="btn btn-danger none" href="/tp5/public/index.php/user/sendemail/sendbug/id/{$id}" style="margin-bottom: 6px">报告bug</a>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="height: 20px">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>当前项目结构</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="status" style="height:500%"></div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>事件安排表</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="waterfall" style="height:300%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>子项目</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table class="table table-striped table-bordered bulk_action table-hover">
                                        <thead>
                                            <tr>
                                                <th>项目名</th>
                                                <th>负责人</th>
                                                <th>交付时间</th>
                                                <th>状态</th>
                                                <th>等级</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name='waitinglist' id='value'}
                                            <tr class='{$value.color}'>
                                                <td>
                                                    <a href="/tp5/public/index.php/user/projectdetail/index/id/{$value.id}">{$value.name}</td>
                                                <td>{$value.user}</td>
                                                <td>{$value.endtime}</td>
                                                <td>{$value.status}</td>
                                                <td>{$value.level}</td>
                                            </tr>
                                            {/volist}
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>项目资源</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table class="table table-striped table-bordered bulk_action table-hover">

                                        <thead>

                                            <tr>

                                                <th>资源名称</th>
                                                <th>上传人</th>
                                                <th>交付时间</th>
                                                <th>状态</th>
                                                <th>安全等级</th>
                                                <th>链接</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {volist name='resourcelist' id='value'}
                                            <tr class='{$value.color}'>
                                                <td>{$value.name}</td>
                                                <td>{$value.uploader}</td>
                                                <td>{$value.uploadtime}</td>
                                                <td>{$value.status}</td>
                                                <td>{switch name="value.safetygrade"}{case value="0"}低{/case}{case value="1"}中{/case}{case value="2"}高{/case}{/switch}</td>
                                                <td>
                                                    <a href="{$value.link}">
                                                        <i class="fa fa-file"></i>查看</a>
                                                </td>
                                            </tr>
                                            {/volist}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>交流工作台</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class='col-md-12'>
                                        <ul id='chartingbox'>

                                            <li v-for='item in items' v-bind:class="{'high':item.iserror,'mid':item.iswarning,'low':item.issuccess}">[{{item.time}}]@[{{item.user}}]#[{{item.status}}]:{{item.note}}</li>

                                        </ul>
                                    </div>
                                    <hr/>
                                    <form class="form-group" id='chartform'>
                                        <div class="col-md-2 col-xs-12">
                                            <select id="chartingtype" class="form-control">
                                                    <option value="普通">普通</option>
                                                    <option value="Note">通知</option>
                                                    <option value="Debug">Bug</option>
                                                </select>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name='message'>

                                        </div>
                                        <div class="col-lg-1">
                                            <button type="button" class="btn btn-success" id="sendchat">发送</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        {include file='common/js'}
        <script type="text/javascript">
            $('.table').DataTable({
                'order': false
            });
            if ("{$log}" == true) {
                $("#stop").show();
                $('#checkandwork').hide();
            } else {
                $("#checkandwork").show();
                $('#stop').hide();
            }
            var structureChart = echarts.init(document.getElementById('status'));

            $('#confirm').on('click', function() {
                swal('提示', '是否确认？', 'info', {
                    buttons: {
                        yes: {
                            text: "是",
                            value: true,
                        },
                        no: {
                            text: '否',
                            value: false,
                        }
                    },
                    closeOnClickOutside: false,
                    closeOnEsc: false,
                }).then((ok) => {
                    if (ok) {
                        $.post('/tp5/public/index.php/api/project/confirmProject/id/{$id}').done(function(data) {
                            if (data.status) window.location.href = '/tp5/public/index.php/user/projectdetail/index/id/{$id}';
                        });
                    }
                })
            });

            $('#checkandwork').on('click', function() {
                $.post('/tp5/public/index.php/api/project/checkAndWork/proid/{$id}').done(function(data) {
                    if (data.state) {
                        swal("签到完成", '', "success").then((ok) => {
                            if (ok) {
                                $('#checkandwork').hide();
                                $('#stop').show();
                            }
                        })
                    } else console.log(data);
                });
            });
            $("#stop").click(function() {
                $.post('/tp5/public/index.php/user/projectdetail/stop/id/{$id}', {
                    cookie: $.cookie('userid')
                }).done(function(data) {
                    if (data.status) {
                        swal('已停止', '', 'success').then((ok) => {
                            if (ok) {
                                $('#checkandwork').show()
                                $('#stop').hide();
                            }
                        })
                    }
                })
            })
            var option = {

                series: {
                    radius: ['15%', '80%'],
                    type: 'sunburst',
                    sort: null,
                    highlightPolicy: 'ancestor',
                    nodeClick: 'link',
                    data: [],
                    label: {
                        rotate: 'tangential',
                        fontWeight: 'bolder',
                        fontSize: 15
                    },
                    levels: [],
                    itemStyle: {
                        color: '#ddd',
                        borderWidth: 2
                    }
                }
            };

            structureChart.setOption(option);
            structureChart.showLoading();


            $.get("/tp5/public/index.php/user/projectdetail/structuredata/id/{$id}").done(function(data) {
                if (data.status == 1) {
                    option = {
                        series: {
                            data: data.data
                        }
                    };
                    structureChart.hideLoading();
                    structureChart.setOption(option);
                }
            });

            var waterfallChart = echarts.init(document.getElementById('waterfall'));

            // 指定图表的配置项


            option1 = {
                title: {
                    text: '今日事件安排表',
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function(params) {
                        var start = params[0];
                        var end = params[1];
                        var status = params[2];
                        return start.name + '<br/>' + start.seriesName + ' : ' + new Date(start.value).toLocaleTimeString() + '<br/>' + end.seriesName + ' : ' + new Date(end.value).toLocaleTimeString() + '<br/>' + status.seriesName + ':' + status.value;
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'time',
                    splitLine: {
                        show: true
                    }
                },
                yAxis: {
                    type: 'category',
                    splitLine: {
                        show: false
                    },
                    splitLine: {
                        show: true
                    },
                    data: []
                },
                series: [{
                    name: '开始时间',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {
                        normal: {
                            barBorderColor: 'rgba(0,0,0,0)',
                            color: 'rgba(0,0,0,0)'
                        },
                        emphasis: {
                            barBorderColor: 'rgba(0,0,0,0)',
                            color: 'rgba(0,0,0,0)'
                        }
                    },
                    data: []
                }, {
                    name: '结束时间',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {
                        normal: {　　　　　　　　　　　　　　 //好，这里就是重头戏了，定义一个list，然后根据所以取得不同的值，这样就实现了，
                            color: function(params) {
                                // build a color map as your need.
                                var colorList = [
                                    '#C1232B', '#B5C334', '#FCCE10', '#E87C25', '#27727B',
                                    '#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
                                    '#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
                                ];
                                return colorList[params.dataIndex]
                            }
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'inside'

                        }
                    },
                    data: []
                }, {
                    name: '状态',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'inside'

                        }
                    },
                    data: []
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            waterfallChart.showLoading();
            waterfallChart.setOption(option1);


            var id = [];
            $.get("/tp5/public/index.php/user/projectdetail/waterfall/id/{$id}").done(function(data) {
                if (data.status == 1) {
                    start = [];
                    end = [];
                    projstatus = [];
                    projectName = [];
                    id = [];
                    for (key in data.data) {
                        item = data.data[key];
                        projectName.push(item['name']);
                        start.push(item['starttime']);
                        end.push(item['endtime']);
                        projstatus.push(item['status']);
                        id.push(item['id']);
                    }
                    option = {

                        yAxis: {

                            data: projectName
                        },
                        series: [{

                            data: start
                        }, {

                            data: end
                        }, {

                            data: projstatus
                        }]
                    };
                    waterfallChart.hideLoading();
                    waterfallChart.setOption(option);
                }
            });
            waterfallChart.on('click', function(params) {
                window.location.href = '/tp5/public/index.php/user/projectdetail/index/id/' + id[params.dataIndex];
            })

            var chartingbox = new Vue({
                el: '#chartingbox',
                data: {
                    items: []
                }
            });

            function updatechatingbox() {
                $.get("/tp5/public/index.php/user/projectdetail/chartingboxdata/id/{$id}").done(function(data) {
                    if (data.status == 1) {
                        chartingbox.items = [];
                        items = data.data;

                        for (key in items) {
                            item = items[key];
                            issuccess = false;
                            iswarning = false;
                            iserror = false;
                            switch (item['status']) {
                                case 'Note':
                                    iswarning = true;
                                    break;
                                case 'Debug':
                                    iserror = true;
                                    break;
                                case '管理员':
                                    issuccess = true;
                                    break;
                                default:

                                    break;
                            }

                            chartingbox.items.push({
                                'time': item['time'],
                                'status': item['status'],
                                'user': item['user'],
                                'note': item['note'],
                                'issuccess': issuccess,
                                'iswarning': iswarning,
                                'iserror': iserror,
                            });
                        }
                        //console.info(resourcelist.items);
                    } else {
                        chartingbox.items = [];
                    }
                });
            }
            updatechatingbox();
            $('#sendchat').click(function() {
                $.get('/tp5/public/index.php/user/projectdetail/send', {
                    id: $.cookie('userid'),
                    status: $('#chartingtype').val(),
                    note: $("input[ name='message'] ").val(),
                    projectid: '{$id}'
                }).done(function(data) {
                    if (data.status) {
                        updatechatingbox();
                        $("input[name='message']").val('')
                    }
                });
            });
            var charting = setInterval('updatechatingbox()', 5000);
        </script>
</body>

</html>