<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>接包人员</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>这是历史项目详情页</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="col-md-8 col-lg-12 col-sm-11">

                                        <div class="col-md-12 col-lg-12 col-sm-11">
                                            <h2>项目名称：<span style="color: #00ace6">这是历史项目详情页</span></h2>
                                            <h2>起始时间：<span style="color: #00ace6">2018.02.30</span></h2>
                                            <h2>截止时间：<span style="color: #00ace6">2018.02.31</span></h2>
                                            <h2>发包人员：<span style="color: #00ace6">法塔赫</span></h2>
                                            <h2>接包人员：<span style="color: #00ace6">dark凡</span></h2>
                                            <h2>安全等级：<span style="color: #00ace6">高</span></h2>
                                            <h2>项目总评：<span style="color: #00ace6"><span style="color: red">88</span>/100</span>
                                            </h2>
                                            <h2>人员总评：<span style="color: #00ace6"><span style="color: red">78</span>/100</span>
                                            </h2>
                                            <h2>完成度：<span style="color: #00ace6"><span style="color: red">84</span>/100</span>
                                            </h2>
                                            <h2>执行度：<span style="color: #00ace6"><span style="color: red">96</span>/100</span>
                                            </h2>
                                            <h2>反馈速度：<span style="color: #00ace6"><span style="color: red">86</span>/100</span>
                                            </h2>
                                            <br />
                                        </div>
                                        <!-- blockquote -->
                                        <blockquote>
                                            <h3>具体说明：</h3>
                                            <p>薄一波（1908—2007），原名薄书存，山西定襄县蒋村人。1925年入党，曾在山西，天津等地从事兵运等工作，3次入狱。1946年起，担任军队领导工作。建国后，历任华北局第1书记，军区政委，财政部部长，国务院第3办公室主任，国家建设委员会主任，国家经济委员会主任等职。</p>
                                        </blockquote>

                                    </div>



                                </div>
                                <div class="clearfix"></div>

                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h1>评分雷达图</h1>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="radar" style="height:500px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    {include file='common/js'}
    <script>
        option = {
            title: {
                text: '评分雷达图'
            },
            tooltip: {

            },
            legend: {
                data: ['当前项目', '平均']
            },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                indicator: [{
                    name: '项目总评',
                    max: 100
                }, {
                    name: '人员总评',
                    max: 100
                }, {
                    name: '完成度',
                    max: 100
                }, {
                    name: '执行度',
                    max: 100
                }, {
                    name: '反馈速度',
                    max: 100
                }, {
                    name: '市场价值创造',
                    max: 25000
                }]
            },
            series: [{
                name: '能力',
                type: 'radar',
                // areaStyle: {normal: {}},
                data: [{
                    value: [88, 78, 84, 96, 86, 23000],
                    name: '当前项目'
                }, {
                    value: [79, 80, 91, 76, 80, 21000],
                    name: '平均'
                }]
            }]
        };
        var radarchart = echarts.init(document.getElementById('radar'));
        radarchart.setOption(option);
    </script>
</body>

</html>