<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=RobotoDraft:300,500">
    <link rel="stylesheet" type="text/css" href="__STATIC__/build/css/default.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/build/css/account.css" />
    <link rel="stylesheet" href="__STATIC__/vendors/font-awesome/css/font-awesome.min.css">
    <style type="text/css">
        .span1 {
            margin-top: 10px;
        }
        
        .logo {
            margin: 20px;
            width: 7%;
            height: 7%;
        }
        
        @media only screen and (max-width: 768px) {
            .dengluanniu {
                margin-right: 30%;
            }
            .span1 {
                margin-top: 0;
            }
        }
    </style>
</head>

<body>
    <div class="htmleaf-container">
        <image src="__STATIC__/build/img/logo.png" class="logo"></image>
        <h1 class="title" style="color:whitesmoke">智能众包管理平台</h1>
        <div class="login">
            <div class='circleChart' style="height:140px">
                <div class="photo">
                    <div id='false_camera'></div>
                    <div id="true_camera"></div>
                </div>
            </div>
            <span class="span1" id="title">登录您的账户</span>
            <form action="" id="login-form">
                <div class="lala" style="position: absolute;">
                    <div id="u" class="form-group">
                        <input id="username" spellcheck=false class="form-control" name="username" type="text" size="18" alt="login" required="">
                        <span class="form-highlight"></span>
                        <span class="form-bar"></span>
                        <label for="username" class="float-label"><strong>手机号</strong></label>
                        <erroru>
                            <strong>请填写手机号</strong>
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24h-24z" fill="none" />
                                    <path d="M1 21h22l-11-19-11 19zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                                </svg>
                            </i>
                        </erroru>
                    </div>
                    <div id="p" class="form-group">
                        <input id="password" class="form-control" spellcheck=false name="password" type="password" size="18" alt="login" required="">
                        <span class="form-highlight"></span>
                        <span class="form-bar"></span>
                        <label for="password" class="float-label"><strong>密码</strong></label>
                        <errorp>
                            <strong>请填写密码</strong>
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24h-24z" fill="none" />
                                    <path d="M1 21h22l-11-19-11 19zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                                </svg>
                            </i>
                        </errorp>
                    </div>
                    <br>
                    <i class="fa fa-user" id="circle" style='margin-top:10px'>

                    </i>
                    <span id='face'>等待验证</span>
                    <button id='refresh' hidden>刷新</button>
                    <input id="phonepicture" name='imgData' type="file" accept="image/png" capture="camera" hidden>
                    <div class="form-group" style="margin-top: 20px">
                        <p>
                            <a href="{:url('index/forget/index')}">忘记密码?</a>
                        </p>
                        <p style="margin-top: 8px">
                            <a href="{:url('index/register/index')}">注册新用户</a>
                        </p>

                        <button id="submit" type="submit" ripple class="dengluanniu">登录</button>
                        <br>
                        <p id='info' style='color:brown'></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h4 class="copyright" style="color:white">众包平台@吃瓜小队 制作 V2.0.5</h4>

    <script src="__STATIC__/vendors/jquery/dist/jquery.min.js"></script>
    <script src="__STATIC__/vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="__STATIC__/build/js/login-jquery.backstretch.min.js"></script>
    <script src="__STATIC__/vendors/BugFix/mobileBUGFix.mini.js"></script>
    <script src="__STATIC__/vendors/camera/camera.js"></script>
    <script src="__STATIC__/vendors/circleChart/circleChart.min.js"></script>
    <script src="__STATIC__/vendors/sweetalert-master/sweetalert.js"></script>
    <script>
        $("body").css({
            "font-weight": 900
        });
    </script>
    <script>
        //检测是否为手机端访问
        var phone = false;
        if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
            var phoneCamera = $("#phonepicture");
            phoneCamera.show();
            $('#face').text('请点击按钮采集人脸图片');
            phone = true;
        }
        //判断是否通过人脸验证
        var pass = false;

        if (!phone) {
            //控制拍照的计时器        
            var interval;
            //判断是否超过时间限制
            var timeUp = false;
            //闭包控制对比次数限制
            var limitTime = function() {
                limitTime.t++;
                console.log('now time:' + limitTime.t);
                return limitTime.t;
            }
            limitTime.t = 0;
            //真摄像头，实际拍照的
            var camera = new Camera('true_camera', {
                needEdit: true,
                imageType: 'png',
                width: 400,
                height: 300
            });
            //假摄像头，放在页面上看看的
            var falsecamera = new Camera('false_camera', {
                needEdit: true,
                imageType: 'png',
                width: 140,
                height: 150
            });
            camera.init();
            falsecamera.init();
            //调整摄像头位置
            $('video').css('right', 20);
            $('video').css('bottom', 15);
            //隐藏摄像头
            $('#true_camera').hide();
            $('#false_camera').hide();


            //初始化环形条
            $(".circleChart").circleChart({
                size: 150,
                value: 0,
                speed: 1000,
                textCenter: false,
                text: false,
                color: "#39cbfa",
                lineCap: 'butt',
                widthRatio: 0.1,
            });
            $('.circleChart_canvas').css('position', 'relative');
            $('.circleChart_canvas').css('z-index', 0);
            //$('.circleChart_canvas').css('left', -5);
            $('.circleChart_canvas').css('bottom', 175);
            $('.circleChart_canvas').hide();
            //$('.circleChart_canvas').css('bottom',0);
            $('#title').css('margin-top', '10px')
        }
        $(document).ready(function() {
            //用户名输入框
            var username = $('#username');
            //密码输入框
            var password = $('#password');
            //用户名错误元素
            var erroru = $('erroru');
            //密码错误元素
            var errorp = $('errorp');
            //提交按钮
            var submit = $('#submit');
            //用户名输入区域
            var udiv = $('#u');
            //密码输入区域
            var pdiv = $('#p');

            $('#refresh').on('click', function() {
                window.location.href = '/tp5/public/index.php/index/login/index.html'
            });
            //当密码框获取焦点就开启人脸检测
            password.on('focus', function() {
                //非手机端访问
                if (!phone) {
                    //开启人脸检测,1秒一次
                    if (username.val() != '') {
                        console.log('check start');
                        //若未通过，并且还未到达检测次数上限，则改动一些画面显示,并开启人脸检测
                        if (username.val() != '' && pass != true && timeUp != true) {
                            interval = setInterval('checkface()', 2000);
                            $('#false_camera').show(); //显示摄像头
                            $('.circleChart_canvas').show(); //显示环形条
                            $('div.photo').addClass('camera');
                            $('div.photo').removeClass('photo');
                            $('span#face').text('正在验证...');
                            $("#circle").removeClass('fa-user');
                            $("#circle").addClass('fa-circle-o-notch fa-spin');
                        } else console.log('empty')
                    }
                }
            });
            username.on('change', function() {
                //若在完成人脸检测后试图改变用户，则重置人脸检测
                if (pass) {
                    pass = false;
                    $('span#face').text('修改用户名后需要重新验证人脸信息');
                    $('#circle').removeClass('fa-smile-o');
                    $('#circle').addClass('fa-user');
                }
            })

            //手机的人脸检测
            if (phone) {
                phoneCamera.on("change", function() {
                    var files = event.target.files,
                        file;
                    if (files && files.length > 0) {
                        file = files[0];
                        try {
                            var url = null;
                            if (window.createObjectURL != undefined) { // basic
                                url = window.createObjectURL(file);
                            } else if (window.URL != undefined) { // mozilla(firefox)
                                url = window.URL.createObjectURL(file);
                            } else if (window.webkitURL != undefined) { // webkit or chrome
                                url = window.webkitURL.createObjectURL(file);
                            }
                        } catch (e) {
                            try {
                                var fileReader = new FileReader();
                                fileReader.onload = function(event) {　　　　 // 获取照片的base64编码
                                    compressPicture(event.target.result);　　 // 压缩照片
                                };
                                fileReader.readAsDataURL(file);
                            } catch (e) {
                                alert(common.MESSAGE.title.error, '拍照失败,请联系客服或尝试更换手机再试!');
                            }
                        }
                    }
                    var image = new Image();
                    var quality = 0.8;
                    image.src = url;
                    image.onload = function() {
                        var that = this;
                        // 生成比例
                        var width = that.width,
                            height = that.height;
                        width = width / 4;
                        height = height / 4;
                        // 生成canvas画板
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        canvas.width = width;
                        canvas.height = height;
                        ctx.drawImage(that, 0, 0, width, height);
                        // 生成base64,兼容修复移动设备需要引入mobileBUGFix.js
                        var imgurl = canvas.toDataURL('image/png', quality);
                        // 修复IOS兼容问题
                        if (navigator.userAgent.match(/iphone/i)) {
                            var mpImg = new MegaPixImage(image);
                            mpImg.render(canvas, {
                                maxWidth: width,
                                maxHeight: height,
                                quality: quality
                            });
                            imgurl = canvas.toDataURL('image/png', quality);
                        }
                        $('#face').text('正在识别...');
                        $.ajax({
                            type: "POST",
                            url: "/tp5/public/static/camera/upload.php",
                            cache: false,
                            data: {
                                imgData: imgurl
                            },
                            success: function(data) {
                                back = JSON.parse(data)
                                if (back.status == 1) {
                                    faceinform = back.filename;
                                    $.post('/tp5/public/index.php/api/login/facecheck', {
                                        phonenumber: $('#username').val(),
                                        faceinform: faceinform
                                    }).done(function(response) {
                                        //对比通过
                                        if (response.status == 1) {
                                            $('#face').text('对比通过');
                                            pass = true;
                                        } else if (response.status == 0) {
                                            //相似度不够
                                            faceinform = '';
                                            var persent = Math.round(response.degree * 100);
                                            var result = "识别失败，";
                                            if (!isNaN(persent))
                                                result += '，相似度' + Math.round(response.degree * 100) + '%';

                                            if ($('#face').text() != '对比通过') $('#face').text(result);
                                        } else if (response.status == 'toomany') {
                                            //相似度不够
                                            faceinform = '';
                                            if ($('#face').text() != '对比通过') $('#face').text('识别到第三方人脸');
                                        } else {
                                            if ($('#face').text() != '对比通过') $('#face').text('找不到该用户');
                                        }
                                    });
                                } else alert("what??");
                            },
                        });
                    };
                    ////////////
                })
            }
            $(function() {
                var animationLibrary = 'animate';
                $.easing.easeOutQuart = function(x, t, b, c, d) {
                    return -c * ((t = t / d - 1) * t * t * t - 1) + b;
                };
                $('[ripple]:not([disabled],.disabled)').on('mousedown', function(e) {
                    var button = $(this);
                    var touch = $('<touch><touch/>');
                    var size = button.outerWidth() * 1.8;
                    var complete = false;

                    $(document).on('mouseup', function() {
                        //波纹渐隐效果
                        var a = {
                            'opacity': '0'
                        };
                        if (complete === true) {
                            size = size * 1.33;
                            $.extend(a, {
                                'height': size + 'px',
                                'width': size + 'px',
                                'margin-top': -size / 2 + 'px',
                                'margin-left': -size / 2 + 'px'
                            });
                        }
                        touch[animationLibrary](a, {
                            duration: 500,
                            complete: function() {
                                touch.remove();
                            },
                            easing: 'swing'
                        });
                    });
                    //提交数据并登入
                    if (pass == true) {
                        $.post('/tp5/public/index.php/api/login/login', {
                            phonenumber: username.val(),
                            password: password.val(),
                        }).done(function(reponse) {
                            id = reponse;
                            if (id.status == 1) {
                                $.cookie(id.type + 'id', id.id, {
                                    path: '/'
                                });
                                cookieexist = false;
                                console.log('login success,link is ' + id.link);
                                console.log($.cookie('contractorid'));
                                if (id.type == 'user') {
                                    if ($.cookie('contractorid') != null || $.cookie('administractorid') != null) {
                                        cookieexist = true;
                                        if ($.cookie('contractorid') != null) $.cookie('contractorid', null, {
                                            expires: -1,
                                            path: '/'
                                        });
                                        if ($.cookie('administractorid') != null) $.cookie('adminstractorid', null, {
                                            expires: -1,
                                            path: '/'
                                        });
                                    }
                                } else if (id.type == 'contractor') {
                                    if ($.cookie('userid') != null || $.cookie('administractorid') != null) {
                                        cookieexist = true;
                                        if ($.cookie('userid') != null) $.cookie('userid', null, {
                                            expires: -1,
                                            path: '/'
                                        });
                                        if ($.cookie('administractorid') != null) $.cookie('adminstractorid', null, {
                                            expires: -1,
                                            path: '/'
                                        });
                                    }
                                } else if (id.type == 'administractor') {
                                    if ($.cookie('userid') != null || $.cookie('contractorid') != null) {
                                        cookieexist = true;
                                        if ($.cookie('userid') != null) $.cookie('userid') = null;
                                        if ($.cookie('contractorid') != null) $.cookie('userid', null, {
                                            expires: -1,
                                            path: '/'
                                        });
                                    }
                                }
                                if (cookieexist) swal("提示", '检测到其他用户的登陆痕迹，将清除其他用户的登陆状态', "warning").then(
                                    (ok) => {
                                        if (ok) {
                                            window.location.href = id.link;
                                        }
                                    });
                                else window.location.href = id.link;
                            } else if (id.status == 0) {
                                $('#info').text('密码错误')
                            } else if (id.status == -1) {
                                $('#info').text('用户还未通过审核')
                            } else {
                                $('#info').text('找不到用户')
                            }
                        });
                    } else {
                        $('#info').text('未通过人脸信息');
                    }
                    //按钮动画效果
                    touch.addClass('touch').css({
                        'position': 'absolute',
                        'top': e.pageY - button.offset().top + 'px',
                        'left': e.pageX - button.offset().left + 'px',
                        'width': '0',
                        'height': '0'
                    });

                    button.get(0).appendChild(touch.get(0));
                    touch[animationLibrary]({
                        'height': size + 'px',
                        'width': size + 'px',
                        'margin-top': -size / 2 + 'px',
                        'margin-left': -size / 2 + 'px'
                    }, {
                        queue: false,
                        duration: 500,
                        'easing': 'easeOutQuart',
                        'complete': function() {
                            complete = true;
                        }
                    });
                });
            });

            username.blur(function() {
                if (username.val() == '') {
                    udiv.attr('errr', '');
                } else {
                    udiv.removeAttr('errr');
                }
            });
            password.blur(function() {
                if (password.val() == '') {
                    pdiv.attr('errr', '');
                } else {
                    pdiv.removeAttr('errr');
                }
            });
            submit.on('click', function(event) {
                event.preventDefault();
                if (username.val() == '') {
                    udiv.attr('errr', '');
                } else {
                    udiv.removeAttr('errr');
                }
                if (password.val() == '') {
                    pdiv.attr('errr', '');
                } else {
                    pdiv.removeAttr('errr');
                }
            });
        });

        //检测人脸信息的函数
        function checkface() {
            //检测是否超时
            if (timeUp) {
                console.log('time up');
                if (!pass) {
                    $('#circle').removeClass('fa-circle-o-notch fa-spin');
                    $("#circle").addClass('fa-user');
                    $('#face').text('对比时间超限，请刷新页面重新检测');
                    $('#refresh').show();
                }
                clearInterval(interval); //消除定时器
                return;
            } else {
                if (limitTime() >= 20) timeUp = true;
            }
            //拍照过程
            if (pass != true) {
                console.log('take picture');
                var img = camera.take();
                var faceinform = '';
                $.post('/tp5/public/static/camera/upload.php', {
                    imgData: img.src
                }).done(function(data) {
                    back = JSON.parse(data)
                    if (back.status == 1) {
                        faceinform = back.filename;
                        //对比过程
                        $.post('/tp5/public/index.php/api/login/facecheck', {
                            phonenumber: $('#username').val(),
                            faceinform: faceinform
                        }).done(function(response) {
                            //对比通过
                            if (response.status == 1) {
                                $('#face').text('对比通过');
                                pass = true;
                                clearInterval(interval); //消除定时器
                                //更改样式
                                $('#circle').removeClass('fa-circle-o-notch fa-spin');
                                $('#circle').addClass('fa-smile-o');
                                //绘制环形条的值
                                $('.circleChart').circleChart({
                                    value: 100
                                });
                            } else if (response.status == 0) {
                                //相似度不够
                                faceinform = '';
                                //绘制环形图的值
                                $('.circleChart').circleChart({
                                    value: response.degree * 100
                                });
                                var persent = Math.round(response.degree * 100);
                                var result = "正在重新识别";
                                if (!isNaN(persent))
                                    result += '，相似度' + Math.round(response.degree * 100) + '%';

                                if ($('#face').text() != '对比时间超限，请刷新页面重新检测' && $('#face').text() != '对比通过') $('#face').text(result);
                            } else if (response.status == 'toomany') {
                                //相似度不够
                                faceinform = '';
                                if ($('#face').text() != '对比时间超限，请刷新页面重新检测' && $('#face').text() != '对比通过') $('#face').text('检测到第三方人脸');
                            } else {
                                if ($('#face').text() != '对比时间超限，请刷新页面重新检测' && $('#face').text() != '对比通过') $('#face').text('找不到该用户');
                            }
                        });
                    } else {
                        //upload失败
                        $('#face').text("上传失败");
                    }
                });
            } else {
                //pass == true 验证通过
                $('.login-form #face').text('验证通过');
                console.log($('.login-form #face').text());
            }
        }
    </script>
</body>

</html>