<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>资源管理</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class='row'>
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>项目查看</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-12">
                                    {switch name="data.type"} {case value="文档"}
                                    <iframe id="pdf" src="" class="col-md-12" style="height:800px">
                                        当前文件不支持浏览
                                    </iframe> {/case} {case value="图片"}
                                    <img src="/tp5/public/uploads/resource/{$data.address}" alt="无法显示"> {/case} {default /}
                                    <h1>:( 不支持的文件格式</h1>
                                    <a href="/tp5/public/uploads/resource/{$data.address}" class="btn btn-success">下载</a> {/switch}
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {include file='common/js'}
    <script>
        $('#pdf').attr('src', '/tp5/public/pdf/build/generic/web/viewer.html?file=/tp5/public/uploads/resource/{$data.address}.pdf')
    </script>
</body>

</html>