<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>管理员</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="__STATIC__/admin/image/3.jpg" alt="">Graman
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;">编辑信息</a></li>
                                    <li><a href="login"><i class="fa fa-sign-out pull-right"></i> 登出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>人员详情</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li class="dropdown"><a data-toggle="tooltip" data-placement="top" title="编辑" href="admin/reviseuser"><i class="fa fa-wrench"></i></a>
                                        </li>
                                        <li><a data-toggle="tooltip" data-placement="top" title="删除" href="#"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="datatable" class="table table-striped table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>姓名</td>
                                                <td>{$user.UserName}</td>
                                            </tr>
                                            <tr>
                                                <td>性别</td>
                                                <td>{$user.Gender}</td>
                                            </tr>
                                            <tr>
                                                <td>出生日期</td>
                                                <td>{$user.Birthday}</td>
                                            </tr>
                                            <tr>
                                                <td>民族</td>
                                                <td>{$user.Nation}</td>
                                            </tr>
                                            <tr>
                                                <td>手机号码</td>
                                                <td>{$user.PhoneNumber}</td>
                                            </tr>
                                            <tr>
                                                <td>擅长方向</td>
                                                <td>{$user.Advantage}</td>
                                            </tr>
                                            <tr>
                                                <td>所在公司</td>
                                                <td>{$user.Company}</td>
                                            </tr>
                                            <tr>
                                                <td>紧急联系人</td>
                                                <td>{$user.EmergencyContactName}</td>
                                            </tr>
                                            <tr>
                                                <td>紧急联系号码</td>
                                                <td>{$user.EmergencyContactPhone}</td>
                                            </tr>
                                            <tr>
                                                <td>脸部信息录入情况</td>
                                                <td>{$user.FaceInformation}</td>
                                            </tr>
                                            <tr>
                                                <td>入职时间</td>
                                                <td>{$user.Jointime}</td>
                                            </tr>
                                            <tr>
                                                <td>工作年限</td>
                                                <td>{$user.WorkTime}</td>
                                            </tr>
                                            <tr>
                                                <td>上次登录时间</td>
                                                <td>{$user.Logintime}</td>
                                            </tr>
                                            <tr>
                                                <td>信誉等级</td>
                                                <td>{$user.CreditRating}</td>
                                            </tr>
                                            <tr>
                                                <td>权限等级</td>
                                                <td>{$user.SecurityPermissions}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    {include file='common/js'}
</body>

</html>