<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>接包人员</title>
    {include file='common/css'}
    <link href="__STATIC__/vendors/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>项目信息</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">邮件主题<span class="required">*</span>
                                                    </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" name="name" value="{$email.name}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">收件人 <span class="required">*</span>
                                                    </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" name="recipients" value="{$email.recipients}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">种类 <span class="required">*</span>
                                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" id="type">
                                                        <option value="普通">普通</option>
                                                        <option value="回复">回复</option>
                                                        <option value="bug">bug</option>
                                                        <option value="资源">资源</option>
                                                        <option value="其他">其他</option>
                                                    </select>
                                            </div>
                                        </div>

                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>具体说明</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div id="alerts"></div>
                                                <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor-one">
                                                    <div class="btn-group">
                                                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                                                        <ul class="dropdown-menu">
                                                        </ul>
                                                    </div>

                                                    <div class="btn-group">
                                                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a data-edit="fontSize 5">
                                                                    <p style="font-size:17px">Huge</p>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a data-edit="fontSize 3">
                                                                    <p style="font-size:14px">Normal</p>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a data-edit="fontSize 1">
                                                                    <p style="font-size:11px">Small</p>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="btn-group">
                                                        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                                        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                                        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                                                        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                                    </div>

                                                    <div class="btn-group">
                                                        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                                                        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                                                        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                                        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                                                    </div>

                                                    <div class="btn-group">
                                                        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                                        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                                        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                                        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                                    </div>

                                                    <div class="btn-group">
                                                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                                                        <div class="dropdown-menu input-append">
                                                            <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                                                            <button class="btn" type="button">Add</button>
                                                        </div>
                                                        <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                                                    </div>

                                                    <div class="btn-group">
                                                        <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                                        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                                                    </div>

                                                    <div class="btn-group">
                                                        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                                        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                                    </div>
                                                </div>

                                                <div id="editor-one" class="editor-wrapper"></div>

                                                <textarea name="descr" id="descr" style="display:none;"></textarea>
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button class="btn btn-primary" type="button" onclick="window.location.href='/tp5/public/index.php/user/index/index'">取消</button>
                                                <button class="btn btn-primary" type="reset">清空</button>
                                                <button type="button" class="btn btn-success" id='send'>确认</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    {include file='common/js'}
    <!-- Custom Theme Scripts -->
    <script src="__STATIC__/build/js/custom.min.js"></script>
    <script src="__STATIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="__STATIC__/vendors/moment/min/moment.min.js"></script>
    <script src="__STATIC__/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="__STATIC__/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="__STATIC__/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="__STATIC__/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="__STATIC__/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="__STATIC__/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="__STATIC__/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="__STATIC__/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="__STATIC__/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="__STATIC__/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="__STATIC__/vendors/starrr/dist/starrr.js"></script>
    <script src="__STATIC__/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <script src="__STATIC__/vendors/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script>
        $('#birthday').tagsInput({
            'height': '100px',
            'width': '100%',
            'autocomplete_url': '/tp5/public/index.php/user/sendemail/auto',
            'defaultText': "添加收件人",
        });
        $("#type").val('{$email.type}')
        $('#send').click(function() {
            if ($("input[name='name']").val() && $("input[name='recipients']").val()) {
                $.post('/tp5/public/index.php/api/email/send', {
                    name: $("input[name='name']").val(),
                    poster: $.cookie('userid'),
                    recipients: "," + $("input[name='recipients']").val() + ",",
                    type: $("#type").val(),
                    note: "{$email.note}" + $('#editor-one').html(),
                    from: 1,
                    resource: ''
                }).done(function(data) {
                    if (data.status) {
                        swal('成功', "发送邮件成功", 'success').then((ok) => {
                            if (ok) {
                                history.go(-1);
                            }
                        });
                    }
                });
            } else {
                swal('错误', '请填写正确的主题与发件人', 'error')
            }
        });
    </script>
</body>

</html>