<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>业绩明细</title>
    <link rel="stylesheet" href="__STATIC__/css/weui-min.css" />
    <link rel="stylesheet" href="__STATIC__/css/example.css" />
</head>

<body style="background-color: #f2f2f2">
    <div class="weui-flex">
        <div class="weui-flex__item" style="flex: 0 0 22%;">
            <a href="javascript:;" class="weui-btn weui-btn_default" id="show" style="background-color: white;background-image: url(__STATIC__/src/下箭头.png);background-repeat: no-repeat;background-position: 90%">全部</a>
        </div>
        <div class="weui-flex__item" style="flex: 0 0 22%;">
            <a href="javascript:;" class="weui-btn weui-btn_default" id="showDatePicker" style="background-color: white;background-image: url(__STATIC__/src/下箭头.png);background-repeat: no-repeat;background-position: 90%">日期</a>
        </div>
        <div class="weui-flex__item" style="flex: 0 0 22%;">
            <a href="javascript:;" class="weui-btn weui-btn_default" id="showPicker" style="background-color: white;background-image: url(__STATIC__/src/下箭头.png);background-repeat: no-repeat;background-position: 90%">月份</a>
        </div>
        <div class="weui-flex weui-flex__item" style="align-items: center;text-align: center;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 5px;background-color: white">
            <a href="javascript:;" class="weui-flex__item" style="color: black">今天</a>
            <a href="javascript:;" class="weui-flex__item" style="color: black">昨天</a>
            <a href="javascript:;" class="weui-flex__item" style="color: black">本月</a>
        </div>
    </div>
    <div style="display: none;" id="leixingxuanze">
        <div class="weui-flex" style="align-items: center;text-align: center;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 5px;background-color: white;height: 50px">
            <div class="weui-flex__item">
                <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #cc99cc;">全部
            </button>
            </div>
            <div class="weui-flex__item">
                <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #f2f2f2;">服务
            </button>
            </div>
            <div class="weui-flex__item">
                <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #f2f2f2;">售卡
            </button>
            </div>
            <div class="weui-flex__item">
                <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #f2f2f2;">还款
            </button>
            </div>
        </div>
    </div>
    <div class="weui-flex" style="justify-content: center;align-items: center;height: 16%;">
        <div class="box weui-flex" style="flex: 0 0 91%;height:70%; background-image: url(__STATIC__/src/background.png);border-radius: 5px;align-items: center">
            <div class="item weui-flex__item">
                <h3 style="color: #d9d9d9;font-size: 15px;font-weight: 200;margin-left: 10px">业绩（元）</h3>
                <h1 style="color: #404040;font-size: 15px;margin-left: 20px">{$sum}</h1>
            </div>
            <div class="item weui-flex__item">
                <h3 style="color: #d9d9d9;font-size: 15px;font-weight: 200;margin-left: 10px">提成（元）</h3>
                <h1 style="color: #404040;font-size: 15px;margin-left: 20px">{$salarysum}</h1>
            </div>
            <div class="item weui-flex__item">
                <h3 style="color: #d9d9d9;font-size: 15px;font-weight: 200;margin-left: 10px">总钟数（次）</h3>
                <h1 style="color: #404040;font-size: 15px;margin-left: 20px">{$count}</h1>
            </div>
        </div>
    </div>

    <div class="weui-panel weui-panel_access" style="background-color: white;border-radius: 5px">
        <div class="weui-panel__hd">业绩详情</div>
        {volist name='data' id='item'}
        <div class="display-block" style="border-bottom: 1px solid #f2f2f2;">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg ">
                <div class="weui-media-box__hd" style="border-radius: 50%;background-color: #ffcc99">
                    <span>{$item.clocktype}</span>
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">{$item.name}</h4>
                    <p class="weui-media-box__desc">房号：{$item.roomid} 服务类型：{$item.servicetype}</p>
                </div>
                <div class="weui-media-box__bd" style="float: right;text-align: right">
                    <h4 class="weui-media-box__title" style="color: #cc99cc">+{$item.salary}</h4>
                    <p class="weui-media-box__desc">{$item.date}</p>
                </div>
            </a>
            <div class="weui-panel__bd display-none" style="display: none;background-color: #f2f2f2">
                <div class="weui-media-box weui-media-box_text">
                    <div style="border: 1px solid #cc99cc;border-radius: 2px;width: 4px;height: 4px;"></div>
                    <div style="margin-left: 2px;border-left: 1px solid #cc99cc;height:50px;">
                        <h4 class="weui-media-box__desc " style="margin-left: 15px;margin-bottom: 0;">业绩流水号</h4>
                        <p class="weui-media-box__title" style="margin-left: 15px;color:#cc99cc ">{$item.orderid}</p>
                    </div>
                    <div style="border: 1px solid #cc99cc;border-radius: 2px;width: 4px;height: 4px;"></div>
                    <h4 class="weui-media-box__desc " style="margin-left: 15px;margin-bottom: 0;margin-top: -10px">
                        业绩金额（元）</h4>
                    <p class="weui-media-box__title" style="margin-left: 15px;color:#cc99cc">{$item.price}</p>
                </div>
            </div>
        </div>
        {/volist}
    </div>
    <div class="weui-footer" style="margin-top: 20px">
        <p class="weui-footer__text">查帐方式以结账时间为准</p>
    </div>
</body>
<script type="text/javascript" src="__STATIC__/js/jweixin.js"></script>
<script type="text/javascript" src="__STATIC__/js/example.js"></script>
<script type="text/javascript" src="__STATIC__/js/weui-min.js"></script>
<script type="text/javascript" src="__STATIC__/js/zepto.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
<script type="text/javascript">
    var onehide = 1;
    $('#show').on('click', function() {
        if (onehide === 1) {
            $('#leixingxuanze').css('display', 'block');
            $('#show').css({
                'color': '#cc99cc',
                'background-image': 'url(__STATIC__/src/上箭头.png)'
            });
            onehide = 0;
        } else {
            $('#leixingxuanze').css('display', 'none');
            $('#show').css({
                'color': 'black',
                'background-image': 'url(__STATIC__/src/下箭头.png)'
            });
            onehide = 1;
        }
    });
    //月份选择器，以多列选择器代替
    // var threehide = 1;
    $('#showPicker').on('click', function() {
        // if (threehide === 1) {
        //     $('#showPicker').css({'color':'#cc99cc','background-image':'url(上箭头.png)'});
        //     threehide = 0;
        // } else {
        //     $('#showPicker').css({'color':'black','background-image':'url(下箭头.png)'});
        //     threehide = 1;
        // }
        weui.picker([{
            label: '2015',
            value: '1'
        }, {
            label: '2016',
            value: '2'
        }, {
            label: '2017',
            value: '3'
        }, {
            label: '2018',
            value: '4'
        }, {
            label: '2019',
            value: '5'
        }, {
            label: '2020',
            value: '6'
        }, {
            label: '2021',
            value: '7'
        }, {
            label: '2022',
            value: '8'
        }, {
            label: '2023',
            value: '9'
        }, {
            label: '2024',
            value: '10'
        }, {
            label: '2025',
            value: '11'
        }], [{
            label: '1月',
            value: 'A'
        }, {
            label: '2月',
            value: 'B'
        }, {
            label: '3月',
            value: 'C'
        }, {
            label: '4月',
            value: 'D'
        }, {
            label: '5月',
            value: 'E'
        }, {
            label: '6月',
            value: 'F'
        }, {
            label: '7月',
            value: 'G'
        }, {
            label: '8月',
            value: 'H'
        }, {
            label: '9月',
            value: 'I'
        }, {
            label: '10月',
            value: 'J'
        }, {
            label: '11月',
            value: 'K'
        }, {
            label: '12月',
            value: 'L'
        }], {
            onChange: function(result) {
                console.log(result);
            },
            onConfirm: function(result) {
                console.log(result);
            }
        });
    });
    // 日期选择器
    // var twohide = 1;
    $('#showDatePicker').on('click', function() {
        // if (twohide === 1) {
        //     $('#showDatePicker').css({'color':'#cc99cc','background-image':'url(上箭头.png)'});
        //     twohide = 0;
        // } else {
        //     $('#showDatePicker').css({'color':'black','background-image':'url(下箭头.png)'});
        //     twohide = 1;
        // }
        weui.datePicker({
            start: 1990,
            end: new Date().getFullYear(),
            onChange: function(result) {
                console.log(result);
            },
            onConfirm: function(result) {
                console.log(result);
            }
        });
    });
    var hide = 1;
    $('.display-block').on('click', function() {
        if (hide === 1) {
            $(this).children('.display-none').css('display', 'block');
            hide = 0;
        } else {
            $(this).children('.display-none').css('display', 'none');
            hide = 1;
        }
    })
</script>

</html>