<!-- jQuery -->
<script src="__STATIC__/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__STATIC__/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__STATIC__/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="__STATIC__/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="__STATIC__/vendors/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="__STATIC__/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="__STATIC__/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="__STATIC__/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="__STATIC__/vendors/jszip/dist/jszip.min.js"></script>
<script src="__STATIC__/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="__STATIC__/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- Custom Theme Scripts -->
<script src="__STATIC__/build/js/custom.min.js"></script>