<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>添加动态</title>
    <link rel="stylesheet" type="text/css" href="../css/iview.css">
    <link rel="stylesheet" type="text/css" href="../css/tinyImgUpload.css">
    <link rel="stylesheet" href="../css/global.css"/>
    <style>
        .demo-upload-list{
            display: inline-block;
            width: 120px;
            height: 120px;
            text-align: center;
            line-height: 120px;
            border: 1px solid transparent;
            border-radius: 8px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 1px 1px rgba(0,0,0,.2);
            margin-right: 5px;
            margin-top: 8px;
            margin-left: 8px;
        }
        .demo-upload-list img{
            width: 100%;
            height: 100%;
        }
        .demo-upload-list-cover{
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,.6);
        }
        .demo-upload-list:hover .demo-upload-list-cover{
            display: block;
        }
        .demo-upload-list-cover i{
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin: 0 2px;
        }

        /* 定义模态对话框外面的覆盖层样式 */

        #modal-overlay {
            position: absolute;
            /* 使用绝对定位或固定定位  */
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 1000;
            background-color: #fff;
        }

        /* 模态框样式 */

        .modal-data {
            margin: 80% auto;
            padding: 15px;
            text-align: center;
            opacity: 0.5;
        }

        .info {
            color: #8f384f;
        }

        #big-img {
            position: absolute;
            /* 使用绝对定位或固定定位  */
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 500;
            background-color: #000;
        }
        textarea{
            resize:none
        }
        textarea:focus{
            outline: none;
        }
    </style>
</head>

<body onunload="app.del_already()">
    <div id="app">
        <row style="width: 100%;padding-top: 7px;font-size: 16px">
            <span @click="del_already()" style="margin-left: 15px"><a>取消</a></span>
            <span @click="create_pyq()" style="float: right;margin-right: 15px;color: #409eff">发表</span>
        </row>
        <row>
            <div style="margin-top: 10px">
                <textarea v-model="content" placeholder="这一刻的想法..." :rows="6" style="width: 100%;font-size: 1.2em;border: none;padding-top: 10px;padding-left: 2em;"></textarea>
            </div>
            <row>
                <!-- <div class="demo-upload-list" v-for="item in uploadList">
                    <template v-if="item.status === 'finished'">
                        <img :src="item.url">
                        <div class="demo-upload-list-cover">
                            <Icon type="ios-eye-outline" @click.native="handleView(item.name)"></Icon>
                            <Icon type="ios-trash-outline" @click.native="handleRemove(item)"></Icon>
                        </div>
                    </template>
                    <template v-else>
                        <Progress v-if="item.showProgress" :percent="item.percentage" hide-info></Progress>
                    </template>
                </div> -->
                <div class="demo-upload-list" v-for="item in uploadimg">
                    <img :src="item.url" @click="handleRemove(item.url)">
                </div>
                <br>
                <upload type="drag" action="../php/upload_photo.php" :on-success="handleSuccess" :on-error="handleFail"
                    :data="{job_number:job_number}" :max-size="4096" :on-exceeded-size="handleMax" :before-upload="handleBeforeUpload"
                    :show-upload-list="false" multiple style="display: inline-block;width:100px;margin-left: 20px">
                    <div style="width: 100px; height:100px; line-height: 50px;">
                        <p style="font-size: 40px;line-height: 100px;">+</p>
                    </div>
                </upload>









                <!--新加的上传，Test-->


                <upload ref="upload" :data="{job_number:job_number}"  :format="['mp4','mov','avi']" show-upload-list="flase"
                    :max-size="51200" :on-format-error="handleFormatError" :on-exceeded-size="vcr_toobig"  :on-success="videosuccess" type="drag"
                    action="../php/upload_vcr.php" style="display: inline-block;width:100px;margin-left: 20px">
                    <div style="width: 100px; height:100px; line-height: 50px;">
                        <p style="font-size: 40px;line-height: 100px;">+</p>
                    </div>
                </upload>



                <!--End-->









            </row>
        </row>

        <div id="modal-overlay" v-show="overlay">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
    </div>

</body>
<script src="../js/jquery.js"></script>
<script src="../js/vue.js"></script>
<script type="text/javascript" src="../vendor/iview/dist/iview.min.js"></script>
<script type="text/javascript" src="../js/sweetalert2.all.js"></script>
<script src="../js/tinyImgUpload.js"></script>
<script type="text/javascript" src="../js/windowOpen.js"></script>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    let app = new Vue({
        el: '#app',
        data() {
            return {
                uploadimg: [],
                uploadvdo:[],
                content: "",
                job_number: getQueryString('id'),
                overlay: false,
            }
        },
        methods: {
            create_pyq() {
                if (this.content == "") {
                    $(this).openWindow("", "正文内容不能为空", ["好的"])
                    return;
                }

                swal({
                    text: "正在发布...",
                    showConfirmButton: false,
                    width: 200,
                    onOpen: () => {
                        swal.showLoading()
                    }
                })
                var that = this;
                var ids = "",vds="";
                for (var i in this.uploadimg) {
                    ids += this.uploadimg[i]['id'] + ","
                }
                for(var i in this.uploadvdo) {
                    vds+= this.uploadvdo[i]['id'] + ","
                }
                $.post("../php/addpyq.php", {
                    ids: ids,
                    job_number: that.job_number,
                    content: that.content,
                    video:vds,
                }).done((res) => {
                    res = JSON.parse(res);
                    if (res.status == 1) {
                        swal.close()
                        $(this).openWindow("", "发布成功", ["好的"], () => {
                            window.location.href = "pyquan.html?id=" + that.job_number
                        })
                        // swal({
                        //     type: "success",
                        //     text: "发布成功!",
                        //     timer: 1000,
                        //     allowOutsideClick: false,
                        //     allowEscapeKey: false,
                        //     showConfirmButton: false,
                        // }).then((result) => {
                        //     if (result.dismiss === swal.DismissReason.timer || result.value) {
                        //         window.location.href = "pyquan.html?id=" + that.job_number
                        //     }
                        // })
                    }

                })
            },
            videosuccess(res,file){
                var that = this;

                if (res.state == 1) {
                    console.log(res.url);
                    that.uploadvdo.push({
                        'url': res.url,
                        'id': res.ID
                    });
                    swal.close();
                } else {
                    swal({
                        text: res.state,
                        type: "error",
                        width: 230,
                    })
                }
            },
            handleSuccess(res, file) {
                var that = this;
                // var reg = /\{(.+?)\}/g;
                // res = res.match(reg);
                // res = JSON.parse(res);
                if (res.state == 1) {
                    console.log(res.url);
                    that.uploadimg.push({
                        'url': res.url,
                        'id': res.ID
                    });
                    swal.close();
                } else {
                    swal({
                        text: res.state,
                        type: "error",
                        width: 230,
                    })
                }

            },
            handleFail(res, file) {
                alert("fail");
            },
            handleMax(file) {
                $(this).openWindow("", "文件过大，不得超过5M", ["好的"])
                // swal({
                //     text: "文件过大，不得超过5M",
                //     type: "error",
                //     width: 230,
                // })
            },
            handleBeforeUpload(file) {
                console.log(file)
                // swal({
                //     text: "正在上传，请稍候",
                //     width: 200,
                //     onOpen: () => {
                //         swal.showLoading();
                //     }
                // })
            },
            handleRemove(name) {
                var that = this;
                $(this).openWindow("", "确认删除该图片吗？", ["不", "好的"], () => {
                    for (var i = 0; i < this.uploadimg.length; i++) {
                        if (this.uploadimg[i].url == name) {
                            this.uploadimg.splice(i, 1);
                        }
                    }
                    $.post("../php/del_photo.php", {
                        job_number: that.job_number,
                        url: [name]
                    }).done(() => {})
                })
                // swal({
                //     text: "确认删除该图片吗？",
                //     allowOutsideClick: false,
                //     showConfirmButton: true,
                //     showCancelButton: true,
                //     confirmButtonText: "删除",
                //     cancelButtonText: "取消",
                //     width: 280,
                // }).then((res) => {
                //     if (res.value) {
                //         for (var i = 0; i < this.uploadimg.length; i++) {
                //             if (this.uploadimg[i].url == name) {
                //                 this.uploadimg.splice(i, 1);
                //             }
                //         }
                //         $.post("../php/del_photo.php", {
                //             job_number: that.job_number,
                //             url: [name]
                //         }).done(() => {})
                //     }
                // })
            },
            del_already() {
                var that = this;
                if (that.uploadimg.length >= 1) {
                    var dirs = [];
                    for (var i in that.uploadimg) {
                        dirs.push(that.uploadimg[i]['url']);
                    }
                    $.post("../php/del_photo.php", {
                        url: dirs,
                        job_number: that.job_number
                    })
                }
                history.go(-1);
            },




            // 新加的一些methods




            beforeUpload(file) {
                var that = this;
                var max_count = 5;
                var check = this.uploadimg.length;
                this.uploadList.push([]);

                for (var i = 0; i < 2000; i++) {};
                var lth = this.uploadList.length;
                console.log(lth);
                var input = (check + this.uploadList.length) > max_count;

                if (input) {
                    this.$Notice.warning({
                        title: '最多只能上传5张图片'
                    });
                    this.uploadList.pop();
                }
                return check + lth <= 5;
                return true;
            },
            handleFormatError(file) {
                this.$Notice.warning({
                    title: '文件格式不正确',
                    desc: '不支持 ' + file.name + ' 文件的格式'
                });
            },
            vcr_toobig() {
                this.$Notice.warning({
                    title: "视频大小超出限制",
                    desc: "最大只能为50MB"
                })
            }
        },








        // 这里也是copy过来的

        created() {
            // overlay();
            var that = this;
            $.post("../php/gettechdetail.php", {
                job_number: id
            }).done((result) => {
                result = JSON.parse(result);
                if (result.status == 1) {
                    info = result.data[0];
                    that.personalInfo.id = info['job_number'];
                    that.personalInfo.name = info['name'];
                    that.personalInfo.phone_number = info['phone_number'];

                    if (info['gender'] == 1) that.personalInfo.sex = "男";
                    else that.personalInfo.sex = "女";

                    that.personalInfo.birth = info['birthday'];
                    that.personalInfo.join_date = info['entry_date'];
                    that.personalInfo.is_on_the_job = info['in_job'];
                    that.personalInfo.inviter = info['inviter'];
                    that.personalInfo.rate = info['rate'];
                    that.personalInfo.intro = info['description'];
                    that.personalInfo.picture = info['photo'] === '' ? null : info['photo'];
                    that.personalInfo.vcr = info['vcr'] === null ? '' : info['vcr'];
                }
            })
            $.post("../php/get_all_photo.php", {
                job_number: id
            }).done((result) => {
                if (result) {
                    result = JSON.parse(result);
                    for (var i = 0; i < result.length; i++) {
                        that.personalInfo.pictureList.push({
                            url: result[i]['url'],
                        });
                    }
                }
                // overlay(false);
                that.overlay = false;
                that.modal_id = "modal-overlay-opa";
            })
        }

    })


    // function overlay(state = true) {
    //     var e1 = document.getElementById('modal-overlay');
    //     if(state)e1.style.visibility="visible"
    //     else e1.style.visibility="hidden"
    // }
</script>

</html>