<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>添加动态</title>
    <link rel="stylesheet" type="text/css" href="../css/iview.css">
    <link rel="stylesheet" type="text/css" href="../css/tinyImgUpload.css">
    <link rel="stylesheet" href="../css/global.css" />
    <style>
        *{
            background-color: white;
        }
        img{
            object-fit: cover;
        }
        .ivu-upload-list{
            display: none;
        }
        .demo-upload-list{
            display: inline-block;
            width: 120px;
            height: 120px;
            text-align: center;
            line-height: 120px;
            border: 1px solid transparent;
            border-radius: 8px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 1px 1px rgba(0,0,0,.2);
            margin-right: 5px;
            margin-top: 8px;
            margin-left: 8px;
        }
        .demo-upload-list img{
            width: 100%;
            height: 100%;
        }
        .demo-upload-list-cover{
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,.6);
        }
        .demo-upload-list:hover .demo-upload-list-cover{
            display: block;
        }
        .demo-upload-list-cover i{
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin: 0 2px;
        }

        /* 定义模态对话框外面的覆盖层样式 */

        #modal-overlay {
            position: absolute;
            /* 使用绝对定位或固定定位  */
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 1000;
            background-color: #fff;
        }

        /* 模态框样式 */

        .modal-data {
            margin: 80% auto;
            padding: 15px;
            text-align: center;
            opacity: 0.5;
        }

        .info {
            color: #8f384f;
        }

        #big-img {
            position: absolute;
            /* 使用绝对定位或固定定位  */
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 500;
            background-color: #000;
        }
        textarea{
            resize:none
        }
        textarea:focus{
            outline: none;
        }
    </style>
</head>

<body>
    <div id="app" style="background-color: white">
        <row style="width: 100%;padding-top: 7px;font-size: 16px">
            <span @click="del_already()" style="margin-left: 15px;color: #409eff"><a>取消</a></span>
            <span @click="create_pyq()" style="float: right;margin-right: 15px;color: #409eff">发表</span>
        </row>
        <row>
            <div style="margin-top: 10px">
                <textarea v-model="content" placeholder="这一刻的想法..." :rows="12" style="width: 100%;font-size: 1.2em;border: none;padding-top: 10px;padding-left: 2em;"></textarea>
            </div>
            <row>
                <!-- <div class="demo-upload-list" v-for="item in uploadList">
                    <template v-if="item.status === 'finished'">
                        <img :src="item.url">
                        <div class="demo-upload-list-cover">
                            <Icon type="ios-eye-outline" @click.native="handleView(item.name)"></Icon>
                            <Icon type="ios-trash-outline" @click.native="handleRemove(item)"></Icon>
                        </div>
                    </template>
                    <template v-else>
                        <Progress v-if="item.showProgress" :percent="item.percentage" hide-info></Progress>
                    </template>
                </div> -->
                <div style="width:100px;height:100px;margin: 0 0 10px 20px;" class="demo-upload-list" v-for="item in uploadList">
                    <img style="width:100px;height:100px" :src="item" @click="handleRemove(item)">
                </div>
                <div style="width:100px;height:100px;margin: 0 0 10px 20px;" v-for="item in uploadvdo">
                    <video :poster="item.poster" controls style="width:100px;height:100px;margin: 0 0 10px 20px;">
                        <source :src="item.url" type="video/mp4">
                    </video>
                </div>
                <br>
                <upload type="drag" :data="{job_number:job_number}" :before-upload="handleBeforeUpload" :format="['mp4','mov','avi','jpg','bmp','png']"
                    :action="action" :on-success="videosuccess" multiple style="display: inline-block;width:100px;margin-left: 20px">
                    <div style="width: 100px; height:100px; line-height: 50px;">
                        <p style="font-size: 40px;line-height: 100px;">+</p>
                    </div>
                </upload>
            </row>
        </row>

        <div id="modal-overlay" v-show="overlay">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
    </div>

</body>
<script src="../js/jquery.js"></script>
<script src="../js/vue.js"></script>
<script type="text/javascript" src="../js/iview.min.js"></script>
<script type="text/javascript" src="../js/sweetalert2.all.js"></script>
<script src="../js/tinyImgUpload.js"></script>
<script type="text/javascript" src="../js/windowOpen.js"></script>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    let app = new Vue({
        el: '#app',
        data() 
		{
            return {
                uploadimg: [],
                uploadvdo: [],
                photo_max: 1024 * 1024 * 8,//MB
                video_max: 1024 * 1024 * 10,//MB
                upload_type: "",
                action: "../php/upload_vcr.php",
                content: "",
                job_number: getQueryString('id'),
                overlay: false,
                uploadList: [], //待上传的文件列表
            }
        },
		
        methods: 
		{
            create_pyq() 
			{
                if (this.content == "") 
				{
                    $(this).openWindow("", "正文内容不能为空", ["好的"])
                    return;
                }

                swal({
                    text: "正在发布...",
                    showConfirmButton: false,
                    width: 200,
                    onOpen: () => {
                        swal.showLoading()
                    }
                })
                var that = this;
                var ids = "",
                    vds = "";
                // for (var i in this.uploadimg) {
                //     ids += this.uploadimg[i]['id'] + ","
                // }
                for (var i in this.uploadvdo) 
				{
                    vds += this.uploadvdo[i]['id'] + ","
                }

                $.post("../php/addpyq.php", {
                    urls: that.uploadList,
                    job_number: that.job_number,
                    content: that.content,
                    video: vds,
                }).done((res) => {
                    res = JSON.parse(res);
                    if (res.status == 1) {
                        swal.close()
                        $(this).openWindow("", "发布成功", ["好的"], () => {
                            window.location.href = "pyquan.html?id=" + that.job_number
                        })
                    }
                })
            },
			
            videosuccess(res, file) 
			{
                var that = this;
                if (this.upload_type == "image") return;
                if (res.state == 1) 
				{
                    console.log(res.url);
                    that.uploadvdo.push({
                        'url': res.url,
                        'id': res.ID,
                        'poster':res.poster
                    });
                    swal.close();
                }
				else
				{
                    swal({
                        text: res.state,
                        type: "error",
                        width: 230,
                    })
                }
            },
			
            handleSuccess(res, file) 
			{
                var that = this;
                // var reg = /\{(.+?)\}/g;
                // res = res.match(reg);
                // res = JSON.parse(res);
                if (res.state == 1) 
				{
                    console.log(res.url);
                    that.uploadimg.push({
                        'url': res.url,
                        'id': res.ID
                    });
                    swal.close();
                }
				else 
				{
                    swal({
                        text: res.state,
                        type: "error",
                        width: 230,
                    })
                }
            },
			
            handleFail(res, file) {
                alert("fail");
            },
			
            handleMax(file) {
                $(this).openWindow("", "文件过大，不得超过10M", ["好的"])
                return false;               
            },
			
            handleBeforeUpload(file) 
			{
                // 创建一个 FileReader 对象
                let reader = new FileReader()
                // readAsDataURL 方法用于读取指定 Blob 或 File 的内容
                // 当读操作完成，readyState 变为 DONE，loadend 被触发，此时 result 属性包含数据：URL（以 base64 编码的字符串表示文件的数据）
                // 读取文件作为 URL 可访问地址
                var that = this
                reader.onloadend = function (e) 
				{
                    file.url = reader.result
                    that.uploadList.push(file.url)
                }
                //第一次上传确定上传类型
                if (this.upload_type == '') //上传的第一张图片
				{
                    //上传图片类型
                    if (file.type == "image/png" || file.type == "image/bmp" || file.type == "image/jpeg") 
					{
                        //检测图片文件大小
                        //alert(file.size)
                        if (file.size > this.photo_max) 
						{
                            this.$Notice.warning({
                                title: '超出限制',
                                desc: '图片文件过大，不得超过 ' + this.photo_max / 1024 / 1024 + "MB",
                            });
                            return false;
                        }
                        this.upload_type = "image"
                        this.action = "//jsonplaceholder.typicode.com/posts/";
                        reader.readAsDataURL(file)
                        //图片永不立即上传
                        return false
                    } 
					else 
					{
                        //上传视频,第一次检测文件按大小
                        if (file.size > this.video_max) 
						{
                            this.$Notice.warning({
                                title: '超出限制',
                                desc: '视频文件过大，不得超过 ' + this.video_max / 1024 / 1024 + "MB",
                            });
                            return false;
                        }
                        this.upload_type = "video"
                        this.action = "../php/upload_vcr.php"; //选择视频的时候就上传
                    }
                } 
				else  //上传的第2，3，4张图片
				{
                    //检测文件是否过大
                    if (this.upload_type == 'image') 
					{
                        if (file.size > this.photo_max) 
						{
                            this.$Notice.warning({
                                title: '超出限制',
                                desc: '图片文件过大，不得超过 ' + this.photo_max / 1024 / 1024 + "MB",
                            });
                            return false;
                        }
                    }
                    if (this.upload_type == 'video') 
					{
                        if (file.size > this.video_max) 
						{
                            this.$Notice.warning({
                                title: '超出限制',
                                desc: '视频文件过大，不得超过 ' + this.video_max / 1024 / 1024 + "MB",
                            });
                            return false;
                        }
                    }

                    //之后的上传只能选取和第一次上传类型相同的文件
                    if (this.upload_type == "image" && (file.type == "image/png" || file.type == "image/bmp" || file.type == "image/jpeg")) 
					{
                        reader.readAsDataURL(file)
                        //图片永不立即上传
                        return false;
                    } 
					else if (this.upload_type == "video") 
					{
                        if(this.uploadvdo.length >= 1)
						{
                            this.$Notice.warning({
                                title: '达到上限',
                                desc: '视频只能上传一个哦 '
                            });
                            return false;
                        }                       
                    } 
					else 
					{
                        this.$Notice.warning({
                            title: '类型限制',
                            desc: '图片和视频不能同时存在 '
                        });
                        return false;
                    }
                }
            },

            handleRemove(name) 
			{
                var that = this;
                $(this).openWindow("", "确认删除该图片吗？", ["不", "好的"], () => {
                    for (var i = 0; i < this.uploadList.length; i++) {
                        if (this.uploadList[i] == name) {
                            this.uploadList.splice(i, 1);
                        }
                    }
                })
            },
			
            del_already() 
			{
                var that = this;
                if (that.uploadimg.length >= 1) {
                    var dirs = [];
                    for (var i in that.uploadimg) {
                        dirs.push(that.uploadimg[i]['url']);
                    }
                    $.post("../php/del_photo.php", {
                        url: dirs,
                        job_number: that.job_number
                    })
                }
                history.go(-1);
            },

            // 新加的一些methods
            handleFormatError(file) {
                this.$Notice.warning({
                    title: '文件格式不正确',
                    desc: '不支持 ' + file.name + ' 文件的格式'
                });
            },
			
            vcr_toobig() 
			{
                this.$Notice.warning({
                    title: "视频大小超出限制",
                    desc: "最大只能为50MB"
                })
            }
        },

        // 这里也是copy过来的

        created() {}

    })


    // function overlay(state = true) {
    //     var e1 = document.getElementById('modal-overlay');
    //     if(state)e1.style.visibility="visible"
    //     else e1.style.visibility="hidden"
    // }
</script>

</html>