<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">    <title>业绩明细</title>
    <link rel="stylesheet" href="../css/weui-min.css" />
    <link rel="stylesheet" href="../css/example.css" />
    <link rel="stylesheet" href="../css/global.css"/>
    <style>
        a :focus{
            background-color:#cc99cc;
            outline: none ;
        }
        #modal-overlay {
             position: absolute;   /* 使用绝对定位或固定定位  */
             left: 0px;    
             top: 0px;
             width:100%;
             height:100%;
             text-align:center;
             z-index: 1000;
             background-color: #fff;
        }
        #modal-overlay-opa {
             position: absolute;   /* 使用绝对定位或固定定位  */
             left: 0px;    
             top: 0px;
             width:100%;
             height:100%;
             text-align:center;
             z-index: 1000;
             background-color: #fff;
             opacity: 0.5;
        }
        /* 模态框样式 */
        .modal-data{
             margin: 80% auto;
             padding:15px;
             text-align:center;
             opacity: 0.5;
        }
    </style>
</head>

<body style="background-color: #f2f2f2;font-size: 15px;">
    <div id="detail" style="height:100%">


        <div class="weui-flex" style="height: 6%;">
            <div @click="init" class="weui-flex weui-flex__item" style="flex: 0 0 22%;align-items: center;text-align: center;background-color: white;border-right: 1px solid rgba(0, 0, 0, 0.1);">
                <a href="javascript:;" @click="certaindate(4)" class="weui-flex__item" id="show" v-bind:style="{borderRadius:'6px',color: 'black',backgroundColor:choosen[0]}" onfocus="this.blur();">全部</a>
            </div>
            <div @click="selectDate" class="weui-flex weui-flex__item" style="flex: 0 0 22%;align-items: center;text-align: center;background-color: white;border-right: 1px solid rgba(0, 0, 0, 0.1);">
                <a href="javascript:;" class="weui-flex__item" id="showDatePicker" style="background-color: white;background-image: url(下箭头.png);background-repeat: no-repeat;background-position: 90%;width: 100%;color: black"
                    v-text="choosen_date">日期</a>
            </div>
            <div @click="choose_month" class="weui-flex weui-flex__item" style="flex: 0 0 22%;align-items: center;text-align: center;background-color: white;border-right: 1px solid rgba(0, 0, 0, 0.1);">
                <a href="javascript:;" class="weui-flex__item" id="showDatePicker" style="background-color: white;background-image: url(下箭头.png);background-repeat: no-repeat;background-position: 90%;width: 100%;color: black"
                    v-text="choosen_month">月份</a>
            </div>
            <div class="weui-flex weui-flex__item" style="align-items: center;text-align: center;background-color: white">
                <a href="javascript:;" @click="certaindate(1)" class="weui-flex__item" v-bind:style="{borderRadius:'6px',color: 'black',backgroundColor:choosen[0]}"
                    onfocus="this.blur();">今天</a>
                <a href="javascript:;" @click="certaindate(2)" class="weui-flex__item" v-bind:style="{borderRadius:'6px',color: 'black',backgroundColor:choosen[1]}"
                    onfocus="this.blur();">昨天</a>
                <a href="javascript:;" @click="certaindate(3)" class="weui-flex__item" v-bind:style="{borderRadius:'6px',color: 'black',backgroundColor:choosen[2]}"
                    onfocus="this.blur();">本月</a>
            </div>
        </div>

        <div style="display: none;" id="leixingxuanze">
            <div class="weui-flex" style="align-items: center;text-align: center;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 5px;background-color: white;height: 50px">
                <div class="weui-flex__item">
                    <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #cc99cc;">全部</button>
                </div>
                <div class="weui-flex__item">
                    <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #f2f2f2;">服务</button>
                </div>
                <div class="weui-flex__item">
                    <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #f2f2f2;">售卡</button>
                </div>
                <div class="weui-flex__item">
                    <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #f2f2f2;">还款</button>
                </div>
            </div>
        </div>

        <div class="weui-flex" style="justify-content: center;align-items: center;height: 16%;">
            <div class="box weui-flex" style="flex: 0 0 100%;height:86%; background-image: url(../src/background.png);border-radius: 5px;align-items: center">
                <div class="item weui-flex__item" style="margin-left: 10px">
                    <h3 style="color: #d9d9d9;font-size: 15px;font-weight: 200">业绩(元)</h3>
                    <span style="color: white;font-size: 15px" v-text="'￥'+total_income"></span>
                </div>
                <div class="item weui-flex__item" style="margin-left: 10px">
                    <h3 style="color: #d9d9d9;font-size: 15px;font-weight: 200">提成(元)</h3>
                    <span style="color: white;font-size: 15px" v-text="'￥'+bonus"></span>
                </div>
                <div class="item weui-flex__item" style="margin-left: 10px">
                    <h3 style="color: #d9d9d9;font-size: 15px;font-weight: 200">总钟数(次)</h3>
                    <span style="color: white;font-size: 15px" v-text="total_clock"></span>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access" style="background-color: white;border-radius: 5px">
            <div class="weui-panel__hd">业绩详情</div>
            <div class="display-block" style="border-bottom: 1px solid #f2f2f2;" v-for="(service, index) in service_list"
                @click="showDetail(index)" >
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg ">
                    <div v-if="service.clock_type==1" class="weui-media-box__hd" style="border-radius: 50%;background-color: #ffcc99;height: 50px;width: 50px; justify-content: center;align-items: center; display: flex;">
                        <span>排钟</span>
                    </div>
                    <div v-if="service.clock_type==2" class="weui-media-box__hd" style="border-radius: 50%;background-color: #9fc5e8;height: 50px;width: 50px; justify-content: center;align-items: center; display: flex;">
                        <span>点钟</span>
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title" style="font-size: 14px">{{ service.service_name }}</h4>
                        <p class="weui-media-box__desc">房号：{{ service.room_number }}</p>
                    </div>
                    <div class="weui-media-box__bd" style="float: right;text-align: right">
                        <h4 class="weui-media-box__title" style="color: #cc99cc">￥{{ service.bonus }}</h4>
                        <p class="weui-media-box__desc" style="font-family: monospace" v-text="service.time"></p>
                    </div>
                </a>
                <div class="weui-panel__bd display-none" style="display: block;background-color: #f2f2f2;" v-show="service.show">
                    <div class="weui-media-box weui-media-box_text" style="padding-bottom: 0;">
                        <div style="border: 1px solid #cc99cc;border-radius: 2px;width: 4px;height: 4px;"></div>
                        <div style="margin-left: 2px;border-left: 1px solid #cc99cc;height:50px;">
                            <h4 class="weui-media-box__desc " style="margin-left: 15px;margin-bottom: 0;">业绩流水号</h4>
                            <p class="weui-media-box__title" style="margin-left: 15px;color:#cc99cc;">{{
                                service.order_id }}</p>
                        </div>
                        <div style="border: 1px solid #cc99cc;border-radius: 2px;width: 4px;height: 4px;"></div>
                        <h4 class="weui-media-box__desc " style="margin-left: 15px;margin-bottom: 0;">
                            业绩金额（元）</h4>
                        <p class="weui-media-box__title" style="margin-left: 15px;color:#cc99cc;margin-bottom: 0">{{
                            service.income }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-footer" style="margin-top: 20px">
            <p class="weui-footer__text">查帐方式以结账时间为准</p>
        </div>
        <div :id="opa?'modal-overlay-opa':'modal-overlay'" v-show="show">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<!-- <script src="https://vuejs.org/js/vue.js"></script> -->
<script src="../js/vue.js"></script>
<script type="text/javascript" src="../js/jweixin.js"></script>
<!-- <script type="text/javascript" src="example.js"></script> -->
<script type="text/javascript" src="../js/weui-min.js"></script>
<script type="text/javascript" src="../js/zepto.js"></script>

<script type="text/javascript" src="../js/sweetalert2.all.js"></script>
<script type="text/javascript" src="../js/windowOpen.js"></script>
<script type="text/javascript" src="../js/date-format.js"></script>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    var job_number = getQueryString("id");

    new Vue({
        el: '#detail',
        data() {
            return {
                total_clock: 0,
                bonus: 0,
                total_income: 0,

                choosen_month: "月份",
                choosen_date: "日期",

                opa: false,
                show: true,

                choosen: [
                    "#FFFFFF",
                    "#FFFFFF",
                    "#FFFFFF",
                    "#FFFFFF",
                ],
                service_list: [{
                    service_name: '',
                    room_number: '',
                    bonus: 0,
                    time: '',
                    order_id: '',
                    income: 0,
                    clock_type: 1,
                    show: false
                }],
            }
        },
        methods: {
            showDetail(index) {
                this.service_list[index].show = !this.service_list[index].show;
                // this.service_list[index].bonus += 1;
            },
            selectDate() {
                var that = this;
                weui.datePicker({
                    start: 1990,
                    end: new Date().getFullYear(),
                    defaultValue: [new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDate()],
                    onConfirm: function (result) {
                        y = result[0] + "-";
                        m = result[1] + "-";
                        d = result[2];
                        if (result[1] < 10) {
                            m = "0" + m;
                        }
                        if (result[2] < 10) {
                            d = "0" + d;
                        }
                        var date = y + m + d;

                        that.choosen = [
                            "#FFFFFF",
                            "#FFFFFF",
                            "#FFFFFF",
                        ]

                        that.choosen_date = date;
                        that.choosen_month = "月份";
                        that.show = true;
                        $.post("../php/getorder.php", {
                            job_number: job_number,
                            date: date,
                            dataType: 'json',
                        }).done((result) => {
                            that.service_list = []
                            var data = JSON.parse(result);
                            that.total_clock = data.total_clock;
                            that.bonus = data.bonus;
                            that.total_income = data.total_income;
                            that.service_list = [];
                            for (var i in data.key_info) {
                                that.service_list.push({
                                    service_name: data.key_info[i].service_name,
                                    room_number: data.key_info[i].room_number,
                                    bonus: data.key_info[i].bonus,
                                    time: data.key_info[i].time,
                                    order_id: data.key_info[i].order_id,
                                    income: data.key_info[i].income,
                                    clock_type: data.key_info[i].clock_type,
                                    show: false
                                })
                            }
                            that.show = false;
                        })
                    }
                });
            },

            choose_month() {
                var that = this;
                weui.picker([{
                    label: '2015',
                    value: '2015'
                }, {
                    label: '2016',
                    value: '2016'
                }, {
                    label: '2017',
                    value: '2017'
                }, {
                    label: '2018',
                    value: '2018'
                }, {
                    label: '2019',
                    value: '2019'
                }, {
                    label: '2020',
                    value: '2020'
                }, {
                    label: '2021',
                    value: '2021'
                }, {
                    label: '2022',
                    value: '2022'
                }, {
                    label: '2023',
                    value: '2023'
                }, {
                    label: '2024',
                    value: '2024'
                }, {
                    label: '2025',
                    value: '2025'
                }], [{
                    label: '1月',
                    value: '01'
                }, {
                    label: '2月',
                    value: '02'
                }, {
                    label: '3月',
                    value: '03'
                }, {
                    label: '4月',
                    value: '04'
                }, {
                    label: '5月',
                    value: '05'
                }, {
                    label: '6月',
                    value: '06'
                }, {
                    label: '7月',
                    value: '07'
                }, {
                    label: '8月',
                    value: '08'
                }, {
                    label: '9月',
                    value: '09'
                }, {
                    label: '10月',
                    value: '10'
                }, {
                    label: '11月',
                    value: '11'
                }, {
                    label: '12月',
                    value: '12'
                }], {
                    defaultValue: [new Date().getFullYear(), new Date().getMonth() + 1],
                    onConfirm: function (result) {
                        that.choosen = result[0] + "-" + result[1];

                        begin = result[0] + "-" + result[1] + "-01 00:00:00";
                        end = result[0] + "-" + result[1] + "-31 23:59:59";

                        that.choosen_month = begin.substr(0, 7);
                        that.choosen_date = "日期";
                        that.choosen = [
                            "#FFFFFF",
                            "#FFFFFF",
                            "#FFFFFF",
                        ]
                        that.show = true;
                        $.post("../php/getorder.php", {
                            job_number: job_number,
                            date: begin,
                            date2: end,
                            dataType: 'json',
                        }).done((result) => {
                            that.service_list = []
                            var data = JSON.parse(result);
                            that.total_clock = data.total_clock;
                            that.bonus = data.bonus;
                            that.total_income = data.total_income;
                            that.service_list = [];
                            for (var i in data.key_info) {
                                that.service_list.push({
                                    service_name: data.key_info[i].service_name,
                                    room_number: data.key_info[i].room_number,
                                    bonus: data.key_info[i].bonus,
                                    time: data.key_info[i].time,
                                    order_id: data.key_info[i].order_id,
                                    income: data.key_info[i].income,
                                    clock_type: data.key_info[i].clock_type,
                                    show: false
                                })
                            }
                            that.show = false;
                        })
                    }
                });
            },
            init() {
                var that = this;
                that.show = true;
                that.choosen = [
                        "#FFFFFF",
                        "#FFFFFF",
                        "#FFFFFF",
                        "#FFFFFF",
                    ],
                    that.choosen_month = "月份",
                    that.choosen_date = "日期",
                    $.post("../php/getorder.php", {
                        job_number: job_number,
                        date: "",
                        dataType: 'json',
                    }).done((result) => {
                        that.service_list = []
                        var data = JSON.parse(result);
                        that.total_clock = data.total_clock;
                        that.bonus = data.bonus;
                        that.total_income = data.total_income;
                        that.service_list = [];
                        for (var i in data.key_info) {
                            that.service_list.push({
                                service_name: data.key_info[i].service_name,
                                room_number: data.key_info[i].room_number,
                                bonus: data.key_info[i].bonus,
                                time: data.key_info[i].time,
                                order_id: data.key_info[i].order_id,
                                income: data.key_info[i].income,
                                clock_type: data.key_info[i].clock_type,
                                show: false
                            })
                        }
                        that.show = false;
                    })
            },
            certaindate(mode) {
                var that = this;
                that.show = true;
                var date = new Date();
                var str = "";
                var str2 = "";
                str += date.getFullYear() + "-";
                if (date.getMonth() < 10) str += "0";
                str += date.getMonth() + 1 + "-";

                that.choosen_date = "日期";
                that.choosen_month = "月份";

                if (mode == 1) {
                    that.choosen[0] = "#6699CC"
                    that.choosen[1] = "#FFFFFF"
                    that.choosen[2] = "#FFFFFF"
                    if (date.getDate() < 10) str += "0";
                    str += date.getDate();
                    str2 = str;
                } else if (mode == 2) {
                    that.choosen[1] = "#6699CC"
                    that.choosen[2] = "#FFFFFF"
                    that.choosen[0] = "#FFFFFF"
                    date.setTime(date.getTime() - 24 * 60 * 60 * 1000)
                    if (date.getDate() < 10) str += "0";
                    str += date.getDate();
                    str2 = str;
                } else if (mode == 3) {
                    that.choosen[2] = "#6699CC"
                    that.choosen[1] = "#FFFFFF"
                    that.choosen[0] = "#FFFFFF"
                    str2 = str;
                    str += "01";
                    month = date.getMonth()
                    var new_year = date.getFullYear(); //取当前的年份   
                    var new_month = ++month; //取下一个月的第一天，方便计算（最后一天不固定）   
                    if (month > 11) //如果当前大于12月，则年份转到下一年   
                    {
                        new_month -= 12; //月份减   
                        new_year++; //年份增   
                    }
                    var new_date = new Date(new_year, new_month, 1); //取当年当月中的第一天   
                    new_date.setTime(new_date.getTime() - 1000 * 60 * 60 * 24);
                    if (new_date.getDate() < 10) str2 += "0";
                    str2 += new_date.getDate() //获取当月最后一天日期  
                }

                $.post("../php/getorder.php", {
                    job_number: job_number,
                    date: str,
                    date2: str2,
                    dataType: 'json',
                }).done((result) => {
                    that.service_list = []
                    var data = JSON.parse(result);
                    that.total_clock = data.total_clock;
                    that.bonus = data.bonus;
                    that.total_income = data.total_income;
                    that.service_list = [];
                    for (var i in data.key_info) {
                        that.service_list.push({
                            service_name: data.key_info[i].service_name,
                            room_number: data.key_info[i].room_number,
                            bonus: data.key_info[i].bonus,
                            time: date("Y-m-d H:i:s",data.key_info[i].time),
                            order_id: data.key_info[i].order_id,
                            income: data.key_info[i].income,
                            clock_type: data.key_info[i].clock_type,
                            show: false
                        })
                    }
                    that.show = false;
                })
            }
        },
        created() {
            var that = this
            that.show = true;
            $.post("../php/getorder.php", {
                job_number: job_number,
                date: "",
                dataType: 'json',
            }).done((result) => {
                that.service_list = []
                var data = JSON.parse(result);
                that.total_clock = data.total_clock;
                that.bonus = data.bonus;
                that.total_income = data.total_income;
                for (var i in data.key_info) {
                    that.service_list.push({
                        service_name: data.key_info[i].service_name,
                        room_number: data.key_info[i].room_number,
                        bonus: data.key_info[i].bonus,
                        time: date("Y-m-d H:i:s",data.key_info[i].time),
                        order_id: data.key_info[i].order_id,
                        income: data.key_info[i].income,
                        clock_type: data.key_info[i].clock_type,
                        show: false
                    })
                }
                that.show = false;
                that.opa = true;
            })
        }
    })
</script>


</html>