<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>业绩明细</title>
    <link rel="stylesheet" href="../css/weui-min.css" />
    <link rel="stylesheet" href="../css/example.css" />
    <link rel="stylesheet" href="../css/spin.css" />
</head>

<body style="background-color: #f2f2f2">
    <div id="detail" style="height:100%">


        <div class="weui-flex" style="height: 6%;">
            <div @click="init" class="weui-flex weui-flex__item" style="flex: 0 0 22%;">
                <a href="javascript:;" class="weui-btn weui-btn_default" id="show" style="background-color: white;background-image: url(下箭头.png);background-repeat: no-repeat;background-position: 90%;width: 100%">全部</a>
            </div>
            <div @click="selectDate" class="weui-flex weui-flex__item" style="flex: 0 0 22%;">
                <a href="javascript:;" class="weui-btn weui-btn_default" id="showDatePicker" style="background-color: white;background-image: url(下箭头.png);background-repeat: no-repeat;background-position: 90%;width: 100%">日期</a>
            </div>
            <div class="weui-flex weui-flex__item" style="align-items: center;text-align: center;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 5px;background-color: white">
                <a href="javascript:;" @click="certaindate(1)" class="weui-flex__item" style="color: black">今天</a>
                <a href="javascript:;" @click="certaindate(2)" class="weui-flex__item" style="color: black">昨天</a>
                <a href="javascript:;" @click="certaindate(3)" class="weui-flex__item" style="color: black">本月</a>
            </div>
        </div>

        <div style="display: none;" id="leixingxuanze">
            <div class="weui-flex" style="align-items: center;text-align: center;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 5px;background-color: white;height: 50px">
                <div class="weui-flex__item">
                    <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #cc99cc;">全部</button>
                </div>
                <div class="weui-flex__item">
                    <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #f2f2f2;">服务</button>
                </div>
                <div class="weui-flex__item">
                    <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #f2f2f2;">售卡</button>
                </div>
                <div class="weui-flex__item">
                    <button class="weui-flex__item weui-btn weui-btn_mini weui-btn_primary" style="color: black;background-color: #f2f2f2;">还款</button>
                </div>
            </div>
        </div>

        <div class="weui-flex" style="justify-content: center;align-items: center;height: 16%;">
            <div class="box weui-flex" style="flex: 0 0 80%;height:60%; background-image: url(../src/background.png);border-radius: 5px;align-items: center">
                <div class="item weui-flex__item">
                    <h3 style="color: #d9d9d9;font-size: 15px;font-weight: 200">业绩（元）</h3>
                    <span style="color: #404040;font-size: 15px" v-text="total_income"></span>
                </div>
                <div class="item weui-flex__item">
                    <h3 style="color: #d9d9d9;font-size: 15px;font-weight: 200">提成（元）</h3>
                    <span style="color: #404040;font-size: 15px" v-text="bonus"></span>
                </div>
                <div class="item weui-flex__item">
                    <h3 style="color: #d9d9d9;font-size: 15px;font-weight: 200">总种数（次）</h3>
                    <span style="color: #404040;font-size: 15px" v-text="total_clock"></span>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access" style="background-color: white;border-radius: 5px">
            <div class="weui-panel__hd">业绩详情</div>

            <div id="spin">
                    <img style="width:30px;height:30px;margin-left:150px"src="../src/ajax-loader.gif">
            </div>

            <div class="display-block" style="border-bottom: 1px solid #f2f2f2;" v-for="(service, index) in service_list"
                @click="showDetail(index)">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg ">
                    <div v-if="service.clock_type==1" class="weui-media-box__hd" style="border-radius: 50%;background-color: #ffcc99">
                        <span>排钟</span>
                    </div>
                    <div v-if="service.clock_type==2" class="weui-media-box__hd" style="border-radius: 50%;background-color: #9fc5e8">
                        <span>点钟</span>
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{ service.service_name }}</h4>
                        <p class="weui-media-box__desc">房号：{{ service.room_number }}</p>
                    </div>
                    <div class="weui-media-box__bd" style="float: right;text-align: right">
                        <h4 class="weui-media-box__title" style="color: #cc99cc">+{{ service.bonus }}</h4>
                        <p class="weui-media-box__desc">{{ service.time }}</p>
                    </div>
                </a>
                <div class="weui-panel__bd display-none" style="display: block;background-color: #f2f2f2" v-show="service.show">
                    <div class="weui-media-box weui-media-box_text">
                        <div style="border: 1px solid #cc99cc;border-radius: 2px;width: 4px;height: 4px;"></div>
                        <div style="margin-left: 2px;border-left: 1px solid #cc99cc;height:50px;">
                            <h4 class="weui-media-box__desc " style="margin-left: 15px;margin-bottom: 0;">业绩流水号</h4>
                            <p class="weui-media-box__title" style="margin-left: 15px;color:#cc99cc ">{{
                                service.order_id }}</p>
                        </div>
                        <div style="border: 1px solid #cc99cc;border-radius: 2px;width: 4px;height: 4px;"></div>
                        <h4 class="weui-media-box__desc " style="margin-left: 15px;margin-bottom: 0;margin-top: -10px">
                            业绩金额（元）</h4>
                        <p class="weui-media-box__title" style="margin-left: 15px;color:#cc99cc">{{ service.income }}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="weui-footer" style="margin-top: 20px">
            <p class="weui-footer__text">查帐方式以结账时间为准</p>
        </div>
    </div>

</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<!-- <script src="https://vuejs.org/js/vue.js"></script> -->
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script type="text/javascript" src="../js/jweixin.js"></script>
<!-- <script type="text/javascript" src="example.js"></script> -->
<script type="text/javascript" src="../js/weui-min.js"></script>
<script type="text/javascript" src="../js/zepto.js"></script>
<script type="text/javascript" src="../js/spin.js"></script>
<script type="text/javascript" src="../js/sweetalert2.all.js"></script>
<script>
    new Vue({
        el: '#detail',
        data() {
            return {
                total_clock: 0,
                bonus: 0,
                total_income: 0,
                service_list: [{
                    service_name: '',
                    room_number: '',
                    bonus: 0,
                    time: '',
                    order_id: '',
                    income: 0,
                    clock_type: 1,
                    show: false
                }],
            }
        },
        methods: {
            showDetail(index) {
                this.service_list[index].show = !this.service_list[index].show;
                // this.service_list[index].bonus += 1;
            },
            selectDate() {
                $("#spin").attr('hidden',false);
                var that = this;
                weui.datePicker({
                    start: 1990,
                    end: new Date().getFullYear(),

                    onConfirm: function (result) {
                        y = result[0] + "-";
                        m = result[1];
                        d = result[2];
                        if (result[1] < 10) {
                            m = "0" + m + "-";
                        }
                        if (result[2] < 10) {
                            d = "0" + d;
                        }
                        var date = y + m + d;

                        $.post("../php/getorder.php", {
                            job_number: "AKB48",
                            date: date,
                            dataType: 'json',
                        }).done((result) => {
                            that.service_list = []
                            var data = JSON.parse(result);
                            that.total_clock = data.total_clock;
                            that.bonus = data.bonus;
                            that.total_income = data.total_income;
                            that.service_list = [];
                            for (var i in data.key_info) {
                                that.service_list.push({
                                    service_name: data.key_info[i].service_name,
                                    room_number: data.key_info[i].room_number,
                                    bonus: data.key_info[i].bonus,
                                    time: data.key_info[i].time,
                                    order_id: data.key_info[i].order_id,
                                    income: data.key_info[i].income,
                                    clock_type: data.key_info[i].clock_type,
                                    show: false
                                })
                            }
                            $("#spin").attr('hidden',true);
                        })
                    }
                });
            },
            init() {
                var that = this;
                $("#spin").attr('hidden',false);
                $.post("../php/getorder.php", {
                    job_number: "AKB48",
                    date: "",
                    dataType: 'json',
                }).done((result) => {
                    that.service_list = []
                    var data = JSON.parse(result);
                    that.total_clock = data.total_clock;
                    that.bonus = data.bonus;
                    that.total_income = data.total_income;
                    that.service_list = [];
                    for (var i in data.key_info) {
                        that.service_list.push({
                            service_name: data.key_info[i].service_name,
                            room_number: data.key_info[i].room_number,
                            bonus: data.key_info[i].bonus,
                            time: data.key_info[i].time,
                            order_id: data.key_info[i].order_id,
                            income: data.key_info[i].income,
                            clock_type: data.key_info[i].clock_type,
                            show: false
                        })
                    }
                    $("#spin").attr('hidden',true);
                })
            },
            certaindate(mode) {
                var that = this;
                $("#spin").attr('hidden',false);
                var date = new Date();
                var str = "";
                var str2 = "";
                str += date.getFullYear() + "-";
                if (date.getMonth() < 10) str += "0";
                str += date.getMonth() + 1 + "-";
                if (mode == 1) {
                    if (date.getDate() < 10) str += "0";
                    str += date.getDate();
                    str2 = str;
                } else if (mode == 2) {
                    date.setTime(date.getTime() - 24 * 60 * 60 * 1000)
                    if (date.getDate() < 10) str += "0";
                    str += date.getDate();
                    str2 = str;
                } else if (mode == 3) {
                    str2 = str;
                    str += "01";
                    month = date.getMonth()
                    var new_year = date.getFullYear(); //取当前的年份   
                    var new_month = ++month; //取下一个月的第一天，方便计算（最后一天不固定）   
                    if (month > 11) //如果当前大于12月，则年份转到下一年   
                    {
                        new_month -= 12; //月份减   
                        new_year++; //年份增   
                    }
                    var new_date = new Date(new_year, new_month, 1); //取当年当月中的第一天   
                    new_date.setTime(new_date.getTime() - 1000 * 60 * 60 * 24);
                    if (new_date.getDate() < 10) str2 += "0";
                    str2 += new_date.getDate() //获取当月最后一天日期  
                }

                $.post("../php/getorder.php", {
                    job_number: "AKB48",
                    date: str,
                    date2: str2,
                    dataType: 'json',
                }).done((result) => {
                    that.service_list = []
                    var data = JSON.parse(result);
                    that.total_clock = data.total_clock;
                    that.bonus = data.bonus;
                    that.total_income = data.total_income;
                    that.service_list = [];
                    for (var i in data.key_info) {
                        that.service_list.push({
                            service_name: data.key_info[i].service_name,
                            room_number: data.key_info[i].room_number,
                            bonus: data.key_info[i].bonus,
                            time: data.key_info[i].time,
                            order_id: data.key_info[i].order_id,
                            income: data.key_info[i].income,
                            clock_type: data.key_info[i].clock_type,
                            show: false
                        })
                    }
                    $("#spin").attr('hidden',true);
                })
            }
        },
        created() {
            var that = this
            $("#spin").attr('hidden',false);
            $.post("../php/getorder.php", {
                job_number: "AKB48",
                date: "",
                dataType: 'json',
            }).done((result) => {
                that.service_list = []
                var data = JSON.parse(result);
                that.total_clock = data.total_clock;
                that.bonus = data.bonus;
                that.total_income = data.total_income;
                for (var i in data.key_info) {
                    that.service_list.push({
                        service_name: data.key_info[i].service_name,
                        room_number: data.key_info[i].room_number,
                        bonus: data.key_info[i].bonus,
                        time: data.key_info[i].time,
                        order_id: data.key_info[i].order_id,
                        income: data.key_info[i].income,
                        clock_type: data.key_info[i].clock_type,
                        show: false
                    })
                }
                $("#spin").attr('hidden',true);
            })
        }
    })


    // 日期选择器
    // $('#showDatePicker').on('click', function () {
    //     weui.datePicker({
    //         start: 1990,
    //         end: new Date().getFullYear(),
    //         onChange: function (result) {
    //             console.log(result);
    //         },
    //         onConfirm: function (result) {
    //             console.log(result);
    //         }
    //     });
    // });
</script>


</html>