<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" href="../css/weui-min.css"/>
    <link rel="stylesheet" href="../css/example.css"/>
    <link rel="stylesheet" type="text/css" href="../vendor/iview/dist/styles/iview.css">
    <style>
        .weui-label {
            width: 60px;
        }

        #modal-overlay {
            position: fixed; /* 使用绝对定位或固定定位  */
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 1000;
            background-color: #fff;
            opacity: 1;
        }

        /* 模态框样式 */
        .modal-data {
            margin: 80% auto;
            padding: 15px;
            text-align: center;
            opacity: 0.5;
        }
    </style>
</head>

<body style="background-color: #f2f2f2">
<div id="app" style="width:100%;height:100%">
    <div class="head" style="height:25%;display: flex;justify-content: center;align-items: center;">
        <div class="box" style="width: 35%;height: 50%">
            <img src="../src/pic-01.jpg" alt="logo" style="width: 100%;height: 100%;">
        </div>
    </div>
    <form>
        <div class="weui-cells weui-cells_form" style="height: 135px;background-color: #f2f2f2;border: none">
            <div class="weui-cell"
                 style="background-image: url(../src/商户.png);background-repeat: no-repeat;background-position:7%;border: none">
                <div class="weui-cell__hd"><label class="weui-label"></label></div>
                <div class="weui-cell__bd">
                    <!--<select id="shop" placeholder="店名" >-->
                    <!--<option :selected="default_select(sp['name'])" v-for="sp in shop" :value="sp['name']" v-text="sp['name']"></option>-->
                    <!--</select>-->
                    <i-select v-model="select" id="shop" placeholder="请选择店铺">
                        <i-option :selected="default_select(sp['name'])" v-for="sp in shop" :value="sp['name']"
                                  v-text="sp['name']"></i-option>
                    </i-select>
                </div>
            </div>
            <div class="weui-cell weui-cell_vcode"
                 style="background-image: url(../src/手机.png);background-repeat: no-repeat;background-position:7%;border: none">
                <div class="weui-cell__hd">
                    <label class="weui-label"></label>
                </div>
                <div class="weui-cell__bd">
                    <input id="tel" class="weui-input" type="tel" v-model="phone" placeholder="手机号"/>
                </div>
                <div class="weui-cell__ft">
                    <button class="weui-vcode-btn" style="border: none;">
                        <div style="border: 1px solid gray;background-color: #fe736c;border-radius: 10px;color: white;height: 35px;display: flex;justify-content: center;align-items: center;font-size: 14px;width: 100%;margin-right: 25px">
                            获取验证码
                        </div>
                    </button>
                </div>
            </div>
            <div class="weui-cell weui-cell_vcode"
                 style="height: 45px;background-image: url(../src/验证码.png);background-repeat: no-repeat;background-position:7%;border: none">
                <div class="weui-cell__hd">
                    <label class="weui-label"></label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="请输入验证码"/>
                </div>
            </div>
        </div>
        <div @click="login()" class="weui-btn-area" style="margin-top: 40px">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips"
               style="background-color: #8c8ef9;border-radius: 20px">登录</a>
        </div>
    </form>
    <div id="modal-overlay" v-show="show">
        <div class="modal-data">
            <img src="../src/loading.gif"/>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../js/jweixin.js"></script>
<script src="../js/vue.js"></script>
<script type="text/javascript" src="../vendor/iview/dist/iview.min.js"></script>
<script type="text/javascript" src="../js/example.js"></script>
<script type="text/javascript" src="../js/weui-min.js"></script>
<script type="text/javascript" src="../js/zepto.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../js/sweetalert2.all.js"></script>
<script type="text/javascript">
    function overlay(state = true) {
        $('#modal-overlay').attr("hidden", !state)
    }

    let app = new Vue({
        el: "#app",
        data: {
            shop: [],
            phone: "",
            select: "",
            show: true,
        },
        methods: {
            default_select(name) {
                if (this.select == name) return true;
                else return false;
            },
            login() {
                reg = /^[1][3,4,5,7,8][0-9]{9}$/;
                if (this.phone != "" && reg.test(this.phone) && this.select != "") {
                    overlay();
                    $.post('../php/get_tech_byphone.php', {
                        phone: $("#tel").val()
                    }).done((result) => {
                        result = JSON.parse(result);
                        if (result.status == 1) {
                            overlay(false);
                            $.cookie('zys', $("#shop").val(), {
                                expires: 7
                            });
                            $.cookie('zyp', $("#tel").val(), {
                                expires: 7
                            });
                            window.location.href = "main.html?id=" + result.job_number;

                        } else {
                            swal({
                                title: "技师不存在",
                                type: "error",
                                width: "100"
                            })
                        }
                    });

                } else {
                    if (this.select == "") {
                        swal({
                            title: "没有选择店铺",
                            type: "error",
                            width: 250
                        })
                    } else if (this.phone == "") {
                        swal({
                            title: "手机号不能为空",
                            type: "error",
                            width: 250,
                        })
                    } else if (reg.test(this.phone)) {
                        swal({
                            title: "手机号格式不正确",
                            type: "error",
                            width: 250,
                        })
                    }

                }
            }
        },
        created() {
            var that = this;
            if ($.cookie('zyp')) {
                this.phone = $.cookie('zyp')
            }
            if ($.cookie('zys')) {
                this.select = $.cookie('zys')
            }
            $.post("../php/getshop.php").done((res) => {
                res = JSON.parse(res);
                for (var i = 0; i < res.all_shop.length; i++) {
                    that.shop.push(res.all_shop[i])
                }
                that.show = false;
            })
        }
    })
</script>

</html>