<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人详情</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <link rel="stylesheet" type="text/css" href="../css/tinyImgUpload.css">
    <style>
        .demo-upload-list{
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            /* line-height: 60px; */
            border: 1px solid transparent;
            /* border-radius: 4px; */
            overflow: hidden;
            background: #fff;
            position: relative;
            /* box-shadow: 0 1px 1px rgba(0,0,0,.2); */
            /* margin-right: 4px; */
        }
        .demo-upload-list img{
            width: 100%;
            height: 100%;
        }
        .demo-upload-list-cover{
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,.6);
        }
        .demo-upload-list:hover .demo-upload-list-cover{
            display: block;
        }
        .demo-upload-list-cover i{
            color: #fff;
            font-size: 40px;
            cursor: pointer;
            /* margin: 0 2px; */
            margin-top: 20%;
        }
    </style>
</head>

<body>
    <div id="space">
        <!--头像-->
        <row type="flex" justify="center" style="margin-top: 20px">
            <i-col span="22">
                <card :bordered="false" dis-hover>
                    <upload ref="upload" :show-upload-list="false" :on-success="handleSuccess" :format="['jpg','jpeg','png']"
                        :max-size="2048" multiple :on-format-error="handleFormatError" :on-exceeded-size="handleMaxSize" action="../php/upload_photo.php">
                        <img v-if="personalInfo.picture" :src="personalInfo.picture" alt="" style="width: 100%; height: 100%">
                        <img v-if="!personalInfo.picture" src="../src/head.png" alt="" style="left:40% ;width: 100%; height: 100%">
                    </upload>
                    
                </card>
            </i-col>
        </row>
        <!--姓名工号-->
        <row type="flex" justify="center" style="margin-top: 8px">
            <i-col span="22">
                <card :bordered="false" dis-hover>
                    <h1>{{ personalInfo.name }}</h1>
                    <divider orientation="right" style="transform: translateY(-120%)">No.{{ personalInfo.id }}</divider>
                </card>
            </i-col>
        </row>
        <!--信息-->
        <row type="flex" justify="center" style="margin-top: -50px">
            <i-col span="22">
                <card :bordered="false" dis-hover>
                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>性别:</i-col>
                        <i-col> {{ personalInfo.sex }} </i-col>
                    </row>
                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>手机:</i-col>
                        <i-col> {{ personalInfo.phone_number }} </i-col>
                    </row>
                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>生日:</i-col>
                        <i-col> {{ personalInfo.birth }} </i-col>
                    </row>
                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>在职状态:</i-col>
                        <i-col> {{ personalInfo.is_on_the_job ? '在职' : '离职' }} </i-col>
                    </row>
                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>入职日期:</i-col>
                        <i-col> {{ personalInfo.join_date }} </i-col>
                    </row>
                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>综合评分:</i-col>
                        <i-col>
                            <rate disabled allow-half :value="personalInfo.rate" />
                        </i-col>
                    </row>
                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>介绍人:</i-col>
                        <i-col> {{ personalInfo.inviter }} </i-col>
                    </row>
                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>简介:</i-col>
                        <i-col> {{ personalInfo.intro }} </i-col>
                    </row>
                </card>
            </i-col>
        </row>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
<script type="text/javascript" src="../js/sweetalert2.all.js"></script>
<script src="../js/tinyImgUpload.js"></script>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    var id = getQueryString('id');
    let Main = {
        data() {
            return {
                personalInfo: {
                    id: '',
                    name: '',
                    pictureList: [],
                    phone_number: '',
                    sex: '',
                    birth: '',
                    join_date: '',
                    is_on_the_job: true,
                    inviter: '',
                    rate: 0,
                    intro: '',
                    picture:'',
                },
            }
        },
        methods: {
            handleView (name) {
                this.imgName = name;
                this.visible = true;
            },
            handleRemove (file) {
                const fileList = this.$refs.upload.fileList;
                this.$refs.upload.fileList.splice(fileList.indexOf(file), 1);
            },
            handleSuccess(res, file) {
                console.log("成功" + file);
                swal({
                    width: 120,
                    onOpen() {
                        swal.showLoading()
                    }
                });
                $.post("../php/set_photo.php", {
                    job_number: id,
                    url: "../photo/" + file.name
                }).done(() => {
                    location.reload()
                })
            },
            handleFormatError(file) {
                this.$Notice.warning({
                    title: '文件格式不正确',
                    desc: '不支持 ' + file.name + ' 文件的格式, 请选择jpg或png图片.'
                });
            },
            handleMaxSize(file) {
                this.$Notice.warning({
                    title: '文件大小超出限制',
                    desc: '图片  ' + file.name + ' 太大了, 不能超过 2MB.'
                });
            },
        },
        created() {
            swal({
                width: 120,
                onOpen() {
                    swal.showLoading()
                }
            });
            var that = this;
            $.post("../php/gettechdetail.php", {
                job_number: id
            }).done((result) => {
                result = JSON.parse(result);
                if (result.status == 1) {
                    info = result.data[0];
                    that.personalInfo.id = info['job_number'];
                    that.personalInfo.name = info['name'];
                    that.personalInfo.phone_number = info['phone_number'];

                    if (info['gender'] == 1) that.personalInfo.sex = "男";
                    else that.personalInfo.sex = "女";

                    that.personalInfo.birth = info['birthday'];
                    that.personalInfo.join_date = info['entry_date'];
                    that.personalInfo.is_on_the_job = info['in_job'];
                    that.personalInfo.inviter = info['inviter'];
                    that.personalInfo.rate = info['rate'];
                    that.personalInfo.intro = info['description'];
                    that.personalInfo.picture = info['photo'] === '' ? null : info['photo'];
                }
            })
            $.post("../php/get_all_photo.php",{
                job_number:id
            }).done((result)=>{
                if(result){
                    for(var i=0;i<result.length;i++){
                        that.personalInfo.pictureList.push(result[i]['dir']);
                    }
                }
                swal.close();
            })
        }
    };
    let Component = Vue.extend(Main);
    let app = new Component().$mount('#space');
</script>

</html>