<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人详情</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <link rel="stylesheet" type="text/css" href="../css/tinyImgUpload.css">
    <style>
        .demo-upload-list{
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 40px;
        border: 1px solid transparent;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
        position: relative;
        box-shadow: 0 1px 1px rgba(0,0,0,.2);
        margin-right: 4px;
    }
    .demo-upload-list img{
        width: 100%;
        height: 100%;
    }
    .demo-upload-list-cover{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.6);
    }
    .demo-upload-list:hover .demo-upload-list-cover{
        display: block;
    }
    .demo-upload-list-cover i{
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        margin: 0 2px;
    }
    /* 定义模态对话框外面的覆盖层样式 */
        #modal-overlay {
             position: absolute;   /* 使用绝对定位或固定定位  */
             left: 0px;    
             top: 0px;
             width:100%;
             height:100%;
             text-align:center;
             z-index: 1000;
             background-color: #fff;
        }
        /* 模态框样式 */
        .modal-data{
             margin: 80% auto;
             padding:15px;
             text-align:center;
             opacity: 0.5;
        }
        .info {
            color: #8f384f;
        }
        #big-img {
             position: absolute;   /* 使用绝对定位或固定定位  */
             left: 0px;    
             top: 0px;
             width:100%;
             height:100%;
             text-align:center;
             z-index: 1000;
             background-color: #000;
        }
    </style>
</head>

<body>
    <div id="space">
        <!--图片-->
        <row type="flex" justify="center" style="margin-top: 20px">
            <i-col span="22">
                <card :bordered="false" dis-hover>
                    <template>
                        <carousel v-if="personalInfo.pictureList.length > 0" arrow="always" dots="none">
                            <carousel-item v-for="item in personalInfo.pictureList">
                                <img  @click="showBig(item.url)" style="width: 100%; height: 150px;" :src="item.url">
                            </carousel-item>
                        </carousel>
                    </template>
                    <div class="demo-upload-list" v-for="item in personalInfo.pictureList" @click="handleRemove(item.url)">
                        <img :src="item.url">
                    </div>
                    <br>
                    <upload ref="upload" :data="tech" :show-upload-list="false" :on-success="handleSuccess" :format="['jpg','jpeg','png']"
                        :max-size="2048" multiple :on-format-error="handleFormatError" :on-exceeded-size="handleMaxSize"
                        type="drag" action="../php/upload_photo.php" style="display: inline-block;width:50px;">
                        <div style="width: 50px; height:50px; line-height: 50px">
                            <!-- <icon type="ios-camera" size="20"></icon> -->
                            <p style="font-size: 20px">+</p>
                        </div>
                    </upload>
                </card>
            </i-col>
        </row>
        <!--姓名工号头像-->
        <row type="flex" justify="center" style="margin-top: 8px">
            <i-col span="22">
                <card :bordered="false" dis-hover>
                    <row type="flex" justify="space-between" align="bottom">
                        <i-col>
                            <row type="flex" justity="start" align="bottom">
                                <i-col>
                                    <span style="font-size: 30px">{{personalInfo.name}}</span> <span>(工号:{{
                                        personalInfo.id }})</span>
                                </i-col>
                            </row>
                        </i-col>
                        <i-col>
                            <upload ref="upload" :data="tech" :show-upload-list="false" :on-success="onHead" :format="['jpg','jpeg','png']"
                                :max-size="2048" multiple :on-format-error="handleFormatError" :on-exceeded-size="handleMaxSize"
                                type="drag" action="../php/upload_head.php" style="display: inline-block;width:58px;">
                                <div style="width: 58px;height:58px;line-height: 58px;">
                                    <img v-if="personalInfo.picture && personalInfo.picture != ''" border=0 style=" width: 100%; height: 100%;"
                                        :src="personalInfo.picture">
                                    <icon v-else type="ios-camera" size="20"></icon>
                                </div>
                            </upload>
                        </i-col>
                    </row>
                    <!-- <divider orientation="right" style="transform: translateY(-120%)">工号:{{ personalInfo.id }}</divider> -->
                </card>
            </i-col>
        </row>
        <!--信息-->
        <row type="flex" justify="center" style="margin-top: -20px">
            <i-col span="22">
                <card :bordered="false" dis-hover>
                    <row type="flex" justify="space-between" :gutter="30">
                        <i-col span="12">
                            <row type="flex" justify="space-between" style="margin-top: 8px">
                                <i-col>性别:</i-col>
                                <i-col class="info" v-text="personalInfo.sex"></i-col>
                            </row>
                            <row type="flex" justify="space-between" style="margin-top: 8px">
                                <i-col>生日:</i-col>
                                <i-col class="info" v-text="personalInfo.birth"></i-col>
                            </row>

                            <row type="flex" justify="space-between" style="margin-top: 8px">
                                <i-col>在职状态:</i-col>
                                <i-col class="info" v-text="personalInfo.is_on_the_job ? '在职' : '离职'"> </i-col>
                            </row>
                        </i-col>

                        <i-col span="12">
                            <row type="flex" justify="space-between" style="margin-top: 8px">
                                <i-col>手机:</i-col>
                                <i-col class="info" v-text="personalInfo.phone_number"> </i-col>
                            </row>
                            <row type="flex" justify="space-between" style="margin-top: 8px">
                                <i-col>介绍人:</i-col>
                                <i-col class="info" v-text="personalInfo.inviter"></i-col>
                            </row>
                            <row type="flex" justify="space-between" style="margin-top: 8px">
                                <i-col>入职日期:</i-col>
                                <i-col class="info" v-text="personalInfo.join_date"></i-col>
                            </row>
                        </i-col>
                    </row>
                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>客户评价:</i-col>
                        <i-col>
                            <rate disabled allow-half :value="personalInfo.rate" />
                        </i-col>
                    </row>

                    <row type="flex" justify="space-between" style="margin-top: 8px">
                        <i-col>简介:</i-col>
                        <i-col v-html="'&nbsp;&nbsp;&nbsp;&nbsp;' + personalInfo.intro"></i-col>
                    </row>
                </card>
            </i-col>
        </row>
        <div id="modal-overlay" v-show="overlay">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
        <div id="big-img" v-show="big_img" @click="closeBig">
                <img style="width:380px;height:350px;margin-top:35%" :src="click_img" />
        </div>
    </div>

</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
<script type="text/javascript" src="../js/sweetalert2.all.js"></script>
<script src="../js/tinyImgUpload.js"></script>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    var id = getQueryString('id');
    let Main = {
        data() {
            return {
                personalInfo: {
                    id: '',
                    name: '',
                    pictureList: [],
                    phone_number: '',
                    sex: '',
                    birth: '',
                    join_date: '',
                    is_on_the_job: true,
                    inviter: '',
                    rate: 0,
                    intro: '',
                    picture: '',
                },
                tech: id,
                value1: 0,
                modal_id: "modal-overlay",
                overlay: true,
                big_img : false,
                click_img : '',
                uploadList: [],
            }
        },
        methods: {
            handleView(name) {
                this.personalInfo.picture = name;
            },
            showBig(url){
                this.big_img = true;
                this.click_img = url;
            },
            closeBig(){
                this.big_img = false;
            },
            handleRemove(name) {
                swal({
                    text: "确认删除该图片吗？",
                    allowOutsideClick: false,
                    showConfirmButton: true,
                    showCancelButton: true,
                    confirmButtonText: "删除",
                    cancelButtonText: "取消",
                    width:280,
                }).then((res) => {
                    if (res.value) {
                        for (var i = 0; i < this.personalInfo.pictureList.length; i++) {
                            if (this.personalInfo.pictureList[i].url == name) {
                                this.personalInfo.pictureList.splice(i, 1);
                            }
                        }
                        $.post("../php/del_photo.php", {
                            job_number: id,
                            url: name
                        }).done(() => {})
                    }
                })
            },
            handleSuccess(res, file) {
                var that = this;
                var reg = /\{(.+?)\}/g;
                res = res.match(reg);
                res = JSON.parse(res);
                if (res.state == 1) {
                    console.log(res.url);
                    that.personalInfo.pictureList.push({
                        url: res.url
                    });
                }
            },
            onHead(res, file) {
                this.personalInfo.picture = file.name;
                var that = this;
                var reg = /\{(.+?)\}/g;
                res = res.match(reg);
                res = JSON.parse(res);
                console.log(res);
                if (res.state == 1) {
                    that.personalInfo.picture = res.url;
                }
            },
            handleFormatError(file) {
                this.$Notice.warning({
                    title: '文件格式不正确',
                    desc: '不支持 ' + file.name + ' 文件的格式, 请选择jpg或png图片.'
                });
            },
            // handleBeforeUpload () {
            //     const check = this.uploadList.length < 5;
            //     if (!check) {
            //         this.$Notice.warning({
            //             title: 'Up to five pictures can be uploaded.'
            //         });
            //     }
            //     return check;
            // },
            handleMaxSize(file) {
                this.$Notice.warning({
                    title: '文件大小超出限制',
                    desc: '图片  ' + file.name + ' 太大了, 不能超过 2MB.'
                });
            },
        },
        mounted() {
            this.uploadList = this.$refs.upload.fileList;
        },
        created() {
            // overlay();
            var that = this;
            $.post("../php/gettechdetail.php", {
                job_number: id
            }).done((result) => {
                result = JSON.parse(result);
                if (result.status == 1) {
                    info = result.data[0];
                    that.personalInfo.id = info['job_number'];
                    that.personalInfo.name = info['name'];
                    that.personalInfo.phone_number = info['phone_number'];

                    if (info['gender'] == 1) that.personalInfo.sex = "男";
                    else that.personalInfo.sex = "女";

                    that.personalInfo.birth = info['birthday'];
                    that.personalInfo.join_date = info['entry_date'];
                    that.personalInfo.is_on_the_job = info['in_job'];
                    that.personalInfo.inviter = info['inviter'];
                    that.personalInfo.rate = info['rate'];
                    that.personalInfo.intro = info['description'];
                    that.personalInfo.picture = info['photo'] === '' ? null : info['photo'];
                }
            })
            $.post("../php/get_all_photo.php", {
                job_number: id
            }).done((result) => {
                if (result) {
                    result = JSON.parse(result);
                    for (var i = 0; i < result.length; i++) {
                        that.personalInfo.pictureList.push({
                            url: result[i]['url'],
                        });
                    }
                }
                // overlay(false);
                that.overlay = false;
                that.modal_id = "modal-overlay-opa";
            })
        }
    };
    let Component = Vue.extend(Main);
    let app = new Component().$mount('#space');


    // function overlay(state = true) {
    //     var e1 = document.getElementById('modal-overlay');
    //     if(state)e1.style.visibility="visible"
    //     else e1.style.visibility="hidden"
    // }
</script>

</html>