<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>服务列表</title>
    <!-- import stylesheet -->
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <!-- import Vue.js -->
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <!-- import iView -->
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
</head>

<body>
    <div id="app">
        <row>
            <i-col>
                <breadcrumb style="padding: 6px;">
                    <breadcrumb-item>
                        <icon type="ios-home-outline"></icon> 铂金宫
                    </breadcrumb-item>
                    <breadcrumb-item>
                        <icon type="logo-buffer"></icon> 服务列表
                    </breadcrumb-item>
                </breadcrumb>
            </i-col>
        </row>
        <row>
            <i-col>
                <i-table :columns="columns" :data="data"></i-table>
            </i-col>
        </row>
        <row>
            <i-col style="position: fixed; bottom: 0; width: 100%; text-align: center">
                <span>铂金宫 @2018</span>
            </i-col>
        </row>

    </div>
</body>
<script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
<script>
    let ExpandRow = Vue.component('ExpandRow', {
        props: {
            row: Object
        },
        template: '<div class="expand_row">\n' +
            '        <Row style="margin-bottom: 16px">\n' +
            '            <Col>\n' +
            '               <span>服务时长: </span>\n' +
            '               <span v-text="row.duration + ` 分钟`"></span>\n' +
            '            </Col>\n' +
            '        </Row>\n' +
            '        <Row>\n' +
            '            <Col>\n' +
            '               <span>会员价: </span>\n' +
            '               <span v-text="`¥ ` + row.vipPrice"></span>\n' +
            '            </Col>\n' +
            '        </Row>\n' +
            '    </div>',
    });

    new Vue({
        el: '#app',
        components: {
            ExpandRow
        },
        data() {
            return {
                columns: [{
                    title: '详情',
                    type: 'expand',
                    width: 60,
                    render: (h, params) => {
                        return h(ExpandRow, {
                            props: {
                                row: params.row,
                            }
                        })
                    }
                }, {
                    title: '服务名称',
                    key: 'name'
                }, {
                    title: '价格',
                    key: 'price',
                    align: 'right',
                    render: (h, params) => {
                        return h('span', [
                            h('span', '¥ '),
                            h('span', params.row.price)
                        ])
                    }
                }, ],
                data: [],
            }
        },
        created() {
            var that = this
            $.post("__STATIC__/php/getservice.php").done((result) => {
                result = JSON.parse(result);
                if (result.status == 1) {
                    var data = result.data;
                    for (var i = 0; i < data.length; i++) {
                        that.data.push({
                            name: data[i].name,
                            price: data[i].price,
                            duration: data[i].duration,
                            vipPrice: data[i].price * result.max_discount
                        })
                    }
                }
            })
        },
    })
</script>

</html>