<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册接包人员</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="__STATIC__/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/build/css/login-form-elements.css">
    <link rel="stylesheet" href="__STATIC__/build/css/login-style.css">
    <link href="/tp5/public/static/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">

    <script src="__STATIC__/vendors/js-xlsx-master/dist/xlsx.full.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"> -->

</head>

<body>

    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>
                            <strong> 众包平台 </strong> | Early alpha</h1>
                        <div class="description">
                            <p>
                                这里应该写什么？
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>接包人员 注册</h3>
                                <p>请输入相应信息完成注册</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-location-arrow"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" action="" method="post" class="register-user-form">
                                <div class="form-group">
                                    <input type ='file' id = 'file' accept=".xls .xlsx">
                                    <input type='text' placeholder="公司名..." id='form-company'>
                                </div>
                                <button type="button" class="btn" id='register'>注册</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Javascript -->
    <script src="__STATIC__/vendors/jquery/dist/jquery.min.js"></script>
    <script src="__STATIC__/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__STATIC__/build/js/login-jquery.backstretch.min.js"></script>
    <script src="__STATIC__/build/js/register-allcompany.js"></script>
    <script src="__STATIC__/vendors/camera/camera.js"></script>
    <script src="/tp5/public/static/vendors/dropzone/dist/min/dropzone.min.js"></script>
    <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
    <script>

    </script>
</body>

</html>