<link href="__STATIC__/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="__STATIC__/vendors/nprogress/nprogress.css" rel="stylesheet">
<link href="__STATIC__/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<link href="__STATIC__/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/build/css/custom.min.css" rel="stylesheet">