<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .high {
            color: #F54F4A
        }
        
        .mid {
            color: #FCCE10
        }
        
        .low {
            color: #B5C334
        }
    </style>
    <link href="__STATIC__/vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="__STATIC__/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="__STATIC__/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <title>项目打分</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class='row'>
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h1>{$project.name}</h1>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="col-md-6 col-lg-6 col-sm-11">

                                    <div class="col-md-12 col-lg-12 col-sm-11">
                                        <h2>项目名称：
                                            <span style="color: #00ace6">{$project.name}</span>
                                        </h2>
                                        <h2>起始时间：
                                            <span style="color: #00ace6">{$project.starttime}</span>
                                        </h2>
                                        <h2>截止时间：
                                            <span style="color: #00ace6">{$project.endtime}</span>
                                        </h2>
                                        <h2>发包人员：
                                            <span style="color: #00ace6">{$project.contractor}</span>
                                        </h2>
                                        <h2>安全等级：
                                            <span class="{$project.color}">{$project.safetygrade}</span>
                                        </h2>
                                        <br />
                                    </div>
                                    <!-- blockquote -->
                                    <blockquote>
                                        <h3>具体说明：</h3>
                                        <p>{$project.plan}
                                        </p>
                                    </blockquote>

                                </div>
                                <!--<div class="col-md-6 col-lg-6 col-sm-11">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>名称</th>
                                                <th>上传人</th>
                                                <th>上传时间</th>
                                                <th>修改人</th>
                                                <th>修改时间</th>
                                                <th>安全等级</th>
                                                <th>类型</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name='child' id='value'}
                                            <tr>
                                                <td><input type="checkbox" id="check-all" class="flat" name='resource' value='{$value.id}'></td>
                                                <td>{$value.name}</td>
                                                <td>{$value.uploader}</td>
                                                <td>{$value.uploadtime}</td>
                                                <td>{$value.editor}</td>
                                                <td>{$value.modifieddate}</td>
                                                <td>{$value.safetygrade}</td>
                                                <td>{$value.type}</td>
                                            </tr>
                                            {/volist}
                                        </tbody>
                                    </table>
                                </div>-->
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="col-md-12 col-lg-12 col-sm-11">
                                    <h2>项目打分</h2>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p>需求实现程度</p>
                                        <input type="text" id="totalrank" />
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p>主计划</p>
                                        <input type="text" id="userrank" />
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p>质量控制</p>
                                        <input type="text" id="degree" />
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p>项目团队能力</p>
                                        <input type="text" id="speed" />
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <button id="send" class="btn btn-success">确认提交</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {include file='common/js'}
    <script src="__STATIC__/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script>
        $("#totalrank").ionRangeSlider({
            min: 0,
            max: 100,
            from: 50,
            grid: true,
        });
        $("#userrank").ionRangeSlider({
            min: 0,
            max: 100,
            from: 50,
            grid: true,
        });
        $("#degree").ionRangeSlider({
            min: 0,
            max: 100,
            from: 50,
            grid: true,
        });
        $("#speed").ionRangeSlider({
            min: 0,
            max: 100,
            from: 50,
            grid: true,
        });
        $("#send").click(function() {
            swal('提示', '是否评分？', 'info', {
                buttons: {
                    yes: {
                        text: "是",
                        value: true,
                    },
                    no: {
                        text: '否',
                        value: false,
                    }
                },
                closeOnClickOutside: false,
                closeOnEsc: false,
            }).then((ok) => {
                if (ok) {
                    $.get("/tp5/public/index.php/contractor/projectrank/setprojectrank/id/{$id}", {
                        totalrank: $("#totalrank").val(),
                        userrank: $("#userrank").val(),
                        degree: $("#degree").val(),
                        speed: $("#speed").val()
                    }).done(function(data) {
                        if (data.status == 1) {
                            swal('成功', '评分成功！', 'success', {
                                closeOnClickOutside: false,
                                closeOnEsc: false,
                            }).then((ok) => {
                                if (ok) window.location.href = "/tp5/public/index.php/contractor/historyproject/index/id/{$id}"
                            })
                        }
                    });
                }

            })
        })
    </script>
</body>

</html>