<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>人员添加</title>
    {include file='common/css'}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {include file='common/left'}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{$projectlistname}</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="row">
                                    {volist name="workinglist" id='vo1'}
                                    <div class="col-md-55">
                                        <div class="thumbnail">
                                            <div class="image view view-first" onClick="{$vo1.link}">
                                                <img style="width: 100%; display: block;" src="{$vo1.img}" alt="image" />
                                                <div class="mask">
                                                    <p>点击查看详情</p>
                                                </div>
                                            </div>
                                            <div class="caption">
                                                <p>{$vo1.name}</p>
                                                <p>截止时间：<span style="color: #1ac6ff">{$vo1.endtime}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
    </div>
    </div>
    {include file='common/js'}
    <script>
        function jumpaddproject(id) {
            window.location.href = "/tp5/public/index.php/contractor/project/index/id/" + id;
        }
    </script>
</body>

</html>